@{
    curtmfg.LandingPage landingPage = ViewBag.landingPage ?? new curtmfg.LandingPage();
    ViewBag.Title = landingPage.name;
	Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
@if(landingPage.pageContent != null && landingPage.pageContent.Trim().Length > 0) {
    <section id="page_content" class="content">
        @Html.Raw(landingPage.pageContent)
    </section>
}
<div class="clear"></div>
@if (landingPage.menuPosition == "bottom") {
    <div class="chicklet">@Html.Partial("_SubNav")</div>
}

@if (landingPage.conversionID != null && landingPage.conversionID.Trim() != "" && landingPage.conversionLabel != null && landingPage.conversionLabel.Trim() != "") {
    <!-- Google Code for adwords Conversion -->
    <script type="text/javascript">
    /* <![CDATA[ */
        var google_conversion_id = @landingPage.conversionID;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "@landingPage.conversionLabel";
    /* ]]> */
    </script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/@landingPage.conversionID/?label=@landingPage.conversionLabel&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
}