@using curtmfg.Models;
@{
    ViewBag.Title = "Hitch Lookup - Select a Style";
    ViewBag.css = new List<string> { Url.Content("~/Content/css/hitchLookup.css") };
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    string year = ViewBag.year;
    string make = ViewBag.make;
    string modelstr = ViewBag.model;
    List<string> styles = ViewBag.styles;
}

<h4 id="vehicle" class="hasvehicle"><span><span class="yourvehicle">Your Vehicle:</span> @year @make @modelstr</span></h4>
<h3>Select Your Vehicle's Style</h3>
<ul class="lookup">
    @foreach (string style in styles) {
        <li><a href="/HitchLookup/find?year=@year&Make=@make&Model=@modelstr&Style=@style">@style</a></li>
    }
</ul>