h3
{
    padding-top: 20px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 2.0em;
    position: relative;
    z-index: 1;
}

h4 {
	margin: 0;
	font-size: 1.4em;
    border-bottom: 1px solid #ccc;
}

#page_gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 0;
}

span.arrow {
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-right: 5px solid #000000;
	display: inline-block;
}

#rightContent {
	position: relative;
	z-index: 1;
    width: 71%;
    float:left;
    padding-right: 15px;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	article {
		display: block;
		position: relative;

		header {
			display: block;
			h2 {
				margin-bottom: 3px;
				border-bottom: 1px solid #212020;
				font-size: 1.6em;
			}
			h3 {
				text-decoration: none;
				font-weight: bold;
				padding: 0;
				margin: 0;
				a {
					color: #333;
					font-size: .8em;
				}
			}
			p.byline {
				display: block;
				margin-top: 0;
				font-size: 1.1em;
				font-weight: bold;
				text-align: left;

				a {
					color: #212020;
				}

				span {
					float: right;
				}
			}
		}

		a.readmore {
			font-weight: bold;
			color: #212020;
		}

		p.categories {
			font-size: 1.1em;
			font-weight: bold;
			margin-top: 0;
		}

		p {
			font-size: 1.2em;
		}

		footer {
			padding-bottom: 3px;
			border-bottom: 1px solid #212020;
			margin-bottom: 0;

			p {
				margin: 0;
				font-size: 1.1em;
				a {
					float: right;
					color: #212020;
				}
			}
		}
	}

	footer {
		margin: 2% 0;
	}

	#pagination {
		display: block;
		text-align: center;
		font-size: 1.2em;
		a {
			float: left;
			color: Black;
			font-weight: bold;

			&#nextpage {
				float: right;
			}
		}
	}

	#comments {
		display: block;
		position: relative;
		margin-top: 10px;

		#comment_form {
			padding: 10px;
			background-color: #eee;
			
			p.header {
				margin: 0 0 10px;
				font-weight: bold;
				font-size: 1.3em;
			}

			label {
				display: block;
				position: relative;
				
				span {
					display: inline-block;
					width:  150px;
					vertical-align: top;
					font-size: 1.2em;
					&.req {
						width: auto;
						margin-left: 0;
					}
				}
				input {
					display: inline-block;
					width:  300px;
					vertical-align: top;
				}

				textarea {
					display: inline-block;
					width:  450px;
					height: 100px;
					vertical-align: top;
					font-family: Arial;
				}
			}

			#recaptcha_widget_div {
				margin-top: 10px;
				padding-left: 150px;
			}

			#submit_comment {
				display: inline-block;
				margin: 10px 0 0 150px;
			}

			.req {
				color: Red;
				font-weight: bold;
				margin-left: 150px;
			}
		}

		div.comment {
			display: block;
			padding: 5px 10px;

			&:nth-child(odd) {
				background-color: #eee;
			}

			p {
				display: block;
				font-size: 1.2em;

				&.header {
					border-bottom: 1px solid #212020;
					font-size: 11px;
					font-weight: bold;

					a {
						color: #212020;
					}
					span {
						float: right;
					}
				}
			}
		}
	}
}

#leftnavigation
{

	ul {
		list-style: none;
		margin-top: 0px;
		padding-left: 0px;

		li a {
			padding: 5px 0 5px 20px;
			font-size: 18px;
			font-weight: 400;
			color: #222222;
			text-decoration: none;
			display: block;

			&:hover, &.selected {
				background-color: rgba(0,94,130,0.5);
				color: #000000;
			}

		}

		li.year {
			a {
				padding: 5px 0 5px 10px;
				font-size: 12px;
				font-weight: bold;
				color: #222222;
				text-decoration: none;
				display: block;

				&:hover, &.selected {
					background-color: rgba(0,94,130,0.5);
					color: #000000;
				}
			}

			ul li a {
				padding: 3px 0 3px 40px;
				font-weight: normal;
			}
		}
	}
}

img.authorimg {
	float: left;
	max-width: 200px;
	height: auto;
	border: 1px solid #ccc;
	padding: 2px;
	margin: 12px 10px;
}

p.biography {
	font-size: 1.2em;
}