h3 {
  padding-top: 20px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 2.0em;
  position: relative;
  z-index: 1; }

h4 {
  margin: 0;
  font-size: 1.4em;
  border-bottom: 1px solid #ccc; }

#page_gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 0; }

span.arrow {
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-right: 5px solid #000000;
  display: inline-block; }

#rightContent {
  position: relative;
  z-index: 1;
  width: 71%;
  float: left;
  padding-right: 15px; }
  #rightContent a {
    text-decoration: none; }
    #rightContent a:hover {
      text-decoration: underline; }
  #rightContent article {
    display: block;
    position: relative; }
    #rightContent article header {
      display: block; }
      #rightContent article header h2 {
        margin-bottom: 3px;
        border-bottom: 1px solid #212020;
        font-size: 1.6em; }
      #rightContent article header h3 {
        text-decoration: none;
        font-weight: bold;
        padding: 0;
        margin: 0; }
        #rightContent article header h3 a {
          color: #333;
          font-size: .8em; }
      #rightContent article header p.byline {
        display: block;
        margin-top: 0;
        font-size: 1.1em;
        font-weight: bold;
        text-align: left; }
        #rightContent article header p.byline a {
          color: #212020; }
        #rightContent article header p.byline span {
          float: right; }
    #rightContent article a.readmore {
      font-weight: bold;
      color: #212020; }
    #rightContent article p.categories {
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 0; }
    #rightContent article p {
      font-size: 1.2em; }
    #rightContent article footer {
      padding-bottom: 3px;
      border-bottom: 1px solid #212020;
      margin-bottom: 0; }
      #rightContent article footer p {
        margin: 0;
        font-size: 1.1em; }
        #rightContent article footer p a {
          float: right;
          color: #212020; }
  #rightContent footer {
    margin: 2% 0; }
  #rightContent #pagination {
    display: block;
    text-align: center;
    font-size: 1.2em; }
    #rightContent #pagination a {
      float: left;
      color: Black;
      font-weight: bold; }
      #rightContent #pagination a#nextpage {
        float: right; }
  #rightContent #comments {
    display: block;
    position: relative;
    margin-top: 10px; }
    #rightContent #comments #comment_form {
      padding: 10px;
      background-color: #eee; }
      #rightContent #comments #comment_form p.header {
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 1.3em; }
      #rightContent #comments #comment_form label {
        display: block;
        position: relative; }
        #rightContent #comments #comment_form label span {
          display: inline-block;
          width: 150px;
          vertical-align: top;
          font-size: 1.2em; }
          #rightContent #comments #comment_form label span.req {
            width: auto;
            margin-left: 0; }
        #rightContent #comments #comment_form label input {
          display: inline-block;
          width: 300px;
          vertical-align: top; }
        #rightContent #comments #comment_form label textarea {
          display: inline-block;
          width: 450px;
          height: 100px;
          vertical-align: top;
          font-family: Arial; }
      #rightContent #comments #comment_form #recaptcha_widget_div {
        margin-top: 10px;
        padding-left: 150px; }
      #rightContent #comments #comment_form #submit_comment {
        display: inline-block;
        margin: 10px 0 0 150px; }
      #rightContent #comments #comment_form .req {
        color: Red;
        font-weight: bold;
        margin-left: 150px; }
    #rightContent #comments div.comment {
      display: block;
      padding: 5px 10px; }
      #rightContent #comments div.comment:nth-child(odd) {
        background-color: #eee; }
      #rightContent #comments div.comment p {
        display: block;
        font-size: 1.2em; }
        #rightContent #comments div.comment p.header {
          border-bottom: 1px solid #212020;
          font-size: 11px;
          font-weight: bold; }
          #rightContent #comments div.comment p.header a {
            color: #212020; }
          #rightContent #comments div.comment p.header span {
            float: right; }

#leftnavigation ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0px; }
  #leftnavigation ul li a {
    padding: 5px 0 5px 20px;
    font-size: 18px;
    font-weight: 400;
    color: #222222;
    text-decoration: none;
    display: block; }
    #leftnavigation ul li a:hover, #leftnavigation ul li a.selected {
      background-color: rgba(0, 94, 130, 0.5);
      color: #000000; }
  #leftnavigation ul li.year a {
    padding: 5px 0 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
    display: block; }
    #leftnavigation ul li.year a:hover, #leftnavigation ul li.year a.selected {
      background-color: rgba(0, 94, 130, 0.5);
      color: #000000; }
  #leftnavigation ul li.year ul li a {
    padding: 3px 0 3px 40px;
    font-weight: normal; }

img.authorimg {
  float: left;
  max-width: 200px;
  height: auto;
  border: 1px solid #ccc;
  padding: 2px;
  margin: 12px 10px; }

p.biography {
  font-size: 1.2em; }
