$gradstart: #857f73;
$gradstartp: 0%;
$gradmiddle: #c6c1bd;
$gradmiddlep: 33%;
$gradend: #ededed;
$gradendp: 50%;

#container{
	background: #857f73; /* Old browsers */
	background: -moz-linear-gradient(top, $gradstart $gradstartp, $gradmiddle $gradmiddlep, $gradend $gradendp); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop($gradstartp,$gradstart), color-stop($gradmiddlep,$gradmiddle), color-stop($gradendp,$gradend)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#857f73', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* W3C */
}

#page_content {
	background: #fff;
}

h3 {
    padding-top: 20px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 2.0em;
    position: relative;
    z-index: 1;
	a {
		color: #000;
		text-decoration: none;
	}
}

#page_gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 0;
}

span.arrow {
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-right: 5px solid #000000;
	display: inline-block;
}

div.forumtitle {
	position: relative;
	z-index: 10;
	list-style: none;
	margin: 0;
	padding: 7px 20px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ddd;

	strong {
		margin: 0 3px;
		padding: 6px 0 5px;
		color: #000;
		font-size: 1.8em;
		border-bottom: 4px solid #ddd;
		float: left;
	}

	#addDiscussion, #addReply {
		float: right;
		font-size: 1.4em;
		margin-top: 4px;
	}
}

p.desc {
	padding: 0 20px;
	font-size: 1.2em;
}

.forumtopics {
	display: block;
	padding: 0 20px 25px;

	.forumtopic {
		float: left;
		width: 194px;
		border: 3px solid #444444;
		border-radius: 7px;
		padding: 10px;
		padding-bottom: 25px;
		margin: 5px;
		text-align: center;
		color: #222;
		text-decoration: none;
		position: relative;
		&:hover {
			text-decoration: none;
			border-color: #e54e31;
		}
		span.image {
			display: block;
			height: 200px;
			overflow: hidden;
			img {
				display: block;
				margin: auto;
				width: 90%;
				height: auto;
				max-width: 90%;
			}
		}
		span.info {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 194px;
			font-size: 1.1em;
			.name {
				font-weight: bold;
				display: block;
				font-size: 1.4em;
			}
		}
	}
}

div#threads {
	display: block;
	margin: 0 0 20px;

	p#nodiscussions {
		font-size: 1.2em;
		margin-left: 20px;
	}

	div.thread {
		display: block;
		padding: 3px 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 2px 20px;

		.threadinfo {
			float: left;
			width: 10%;
			padding-right: 2%;
			p.replies {
				font-size: 1.4em;
				padding: 8px 5px 0;
				margin: 0;
				text-align: center;
				span {
					font-weight: bold;
					display: block;
					font-size: 1.8em;
				}
			}
		}
		.threaddetails {
			float: left;
			border-left: 1px dotted #ccc;
			position: relative;
			width: 70%;
			padding: 5px 50px;
			min-height: 50px;
			a {
				font-size: 1.6em;
				font-weight: bold;
				text-decoration: none;
				color: #000;
				&:hover {
					color: #07c;
				}
			}
			p.latest {
				margin: 0;
				position: absolute;
				bottom: 5px;
				left: 50px;
			}
		}
	}
}

div#forumposts {
	display: block;
	position: relative;
	margin: 20px 0;

	div.forumpost {
		position: relative;
		display: block;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 1px 20px;
		padding: 5px 8px;
		div.datebox {
			float: left;
			width: 24%;
			padding-right: 8px;
			font-size: 11px;
			p {
				margin: 0;
				padding: 5px 0;
			}
		}
		div.postbox {
			float: left;
			padding-left: 20px;
			width: 70%;
			font-size: 11px;
			border-left: 1px solid #ccc;
			min-height: 100px;
			div.controls {
				display: block;
				font-size: 10px;
				text-align: right;
				padding: 2px 0 0;
			}
			p {
				font-size: 12px;
				margin: 0;
				padding: 5px 0;
				&.title {
					display: block;
					font-size: 14px;
					font-weight: bold;
					border-bottom: 1px solid #ccc;
				}
			}
		}
	}
}

form {
	ul {
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		li {
			display: block;
			margin: 0;
			padding: 3px 0;
			label {
				display: inline-block;
				width: 80px;
				padding-right: 5px;
			}
			input[type=text], input[type=email], textarea {
				display: inline-block;
				width: 350px;
				vertical-align: top;
			}
			input[type=checkbox] {
				display: inline-block;
				vertical-align: top;
			}

			&#postrecaptcha {
				margin-top: 10px;
			}
		}
	}
}

#loadingBox {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 2000;
	text-align: center;
	img {
		display: block;
		position: relative;
		z-index: 2001;
		margin: auto;
		background-color: #fff;
		padding: 20px 20px;
		box-shadow: 0px 0px 15px 0px #ddd;
	}
}

#pagination {
	padding: 10px 0 20px;
	margin: 0 20px;
}