p {
  font-size: 1.2em; }
  p.errormessage {
    font-weight: bold;
    font-size: 1.6em;
    color: #b51807; }

#dealer-login-form {
  display: block;
  margin-bottom: 30px; }
  #dealer-login-form label {
    display: block;
    padding: 3px 0; }
