$bgcolor: #F4F4F4;
$bordercolor: #ddd;

#pageTitle {
	margin: 0px;
	padding: 15px 10px;
	font-size: 1.8em;
}
#page_content {
	padding-top: 1.2em;
}

#vehicleStr {
    padding: 0px 15px;
	font-size: 1.2em;
	margin: 0;
}

#image_box {
    float:left;
    width: 331px;
    margin: 15px;

	a.mainImg {
		display: block;
		width: 90%;
		height: 200px;
		margin: auto;
		padding: 5px;
		text-align: center;
		img {
			display: block;
			width: auto;
			height: 100%;
			margin: auto;
		}
	}

	#smImages {
		margin: auto;
		width: 312px;
		margin-top: 10px;
		background-color: $bgcolor;
		padding: 10px;
		border-bottom: 1px solid $bordercolor;
		a {
			float: left;
			width: 73px;
			height: 48px;
			margin: 0 2px;
			overflow: hidden;
			text-align: center;
			img {
				display: block;
				width: auto;
				height: 100%;
				margin: auto;
			}
		}
	}
}


#hitchInfo {
	float:left;
	width: 560px;
	margin: 1.2em 15px 0 20px;
	font-size: 1.2em;
	header {
		display: block;
		border-bottom: 1px solid #ccc;
		padding-bottom: 4px;
		margin-bottom: 20px;
		h2 {
			margin: 0;
		}
		p {
			margin: 2px 0;
			font-size: 10px;
			span {
				&#upc {
					padding-left: 20px;
				}
				span {
					font-size: 12px;
					font-weight: bold;
				}
			}
		}
		#averageReview {
			float: left;
			padding: 5px 0;
			display: block;
			text-align: center;

			span.avgReview {
				font-weight: bold;
			}
			.starrating {
				float: left;
				margin-right: 15px;
			}
			#writeReview {
				float: left;
				font-weight: bold;
				color: #000;
				font-size: .9em;
			}
		}
		#social {
			float: right;
			height: 32px;
			overflow: hidden;
			img {
				width: 25px;
				height: 18px;
			}
			a, div {
				float:left;
				margin-right: 3px;
				margin-top: 8px !important;
			}

			iframe {
				float:left;
				margin-top: 7px;
				margin-right: 3px;
			}
		}
	}
	#partinfo {
		display: block;
		margin-right: 15px;
		#msrp {
			font-size: 1em;
			margin-top: 0;
			span {
				font-size: 1.6em;
				font-weight: bold;
			}
		}
		table {
			float: left;
			display: block;
			border-radius: 8px;
			border: 1px solid $bordercolor;
			border-collapse: collapse;
			padding: 5px 10px;
			text-align: left;
			background-color: $bgcolor;
			margin-bottom: 10px;
			thead {
				th {
					border-bottom: 4px solid $bordercolor;
					font-size: 1.4em;
					width: 230px;
				}
			}
			tbody {
				td {
					height: 25px;
				
					a img {
						vertical-align: middle;
					}
					&.label {
						text-align: right;
						padding: 0 15px;
						font-weight: bold;
						font-size: 1em;
					}
				}
			}
		}
	}
	.tip {
		font-size: 20px;
		font-weight: bold;
		line-height: 0.5em;
		color: #e44f31;
		cursor: pointer;
	}

}

.tooltip {
	display:none;
	background: transparent url('../img/black_arrow.png');
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;	
}


#content {
	margin: 0px 15px;
	padding: 15px 0px 45px;

	ul.tabs {
		margin: 0;
		padding: 7px 20px;
		list-style: none;
		background-color: $bgcolor;
		border-bottom: 1px solid $bordercolor;
		border-radius: 15px 15px 0 0;

		li {
			float: left;
			margin: 0 3px;
			padding: 0;
			position: relative;
			border-bottom: 0;
		
			a {
				text-decoration: none;
				text-transform: lowercase;
				color: #000;
				display: block;
				font-size: 1.1em;
				font-weight: bold;
				padding: 6px 20px 5px;
				border-bottom: 4px solid #ddd;
				outline: none;
			
				&:hover {
					border-bottom: 4px solid #aaa;
				}

				&.active {
					border-bottom: 4px solid #444;
				}
			}
			&.active a {
				background-color: #999;
			}
		}
	}

	#tab_container {
		display: block;
		overflow: hidden;
		#tab_scroll {
			position: relative;
			.tab_content {
				float: left;
				padding: 10px;
			}
		}
	}
}


#vehicles table {
    border-collapse: collapse;
    width: 100%;
    margin:auto;
	
	td, th {
		padding: 5px;
		font-size: 1.2em;
	}

	thead tr {
		border-bottom: 2px solid #ccc;
	}

	tbody {
		tr {
			border: none;
			background-color: white;
			&:hover {
				background-color: #ccc;
			}
		}

		.btnSubmit {
			border: none;
			background: url('../img/findHitch.png') no-repeat;
			width: 79px;
			height: 25px;
			cursor: pointer;
		}
	}
}

.buyOnline {
    background-image: url('../img/buyNow.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 25px;
}

#shadowbox_html {
	div {
		background-color: White;
		height: 100%;
		width: 100%;
	}

	img {
		height: 50px;
		width: 150px;
		margin: 20px;
	}
}

#mailForm {
	input[type=text] {
		width: 225px;
		height: 30px;
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding-left: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	textarea {
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding: 0px 10px;
		margin: 0px 10px;
		margin-bottom: 10px;
	}

	#btnMail {
		background: url('../img/btnSend.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}

	#btnReset {
		background: url('../img/btnReset.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}
}

div.connector {
	margin: 15px 5%;
	height: 250px;
	width: 90%;
	padding: 0px 10px;

	#connector_desc {
		float: left;
		a {
			color: #e44f31;
			text-decoration: none;

			img {
				text-decoration: none !important;
			}
			
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.imgBorder {
		padding-top: 10px;
		float: left;
		margin-right: 15px;
		cursor: pointer;
		img {
			max-height: 205px;
			max-width: 310px;
		}
	}
}

.review {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ccc;

	.reviewTitle {
		font-weight: bold;
		margin-right: 10px;
		font-size: 12pt;
		float:left;
	}

	p {
		margin: 0;
		font-size: 1.2em;
	}
}

#howto {
	#howto_instruction {
		color: #e44f31;
		margin-left: 15px;
		font-weight: bold;
		font-size: 12pt;
		margin-bottom: 10px;
		text-decoration: none;
	
		span {
			text-decoration: underline;
		}
	}
	#howto_icon {
		text-decoration: none;
		width: 30px;
		vertical-align: bottom;
	}
}

.req {
	color: red;
	font-weight: bold;
}

div#addreview {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;

	h4 {
		font-weight: bold;
		font-size: 1.5em;
		margin: 0;
	}
	
	ul.formlist {
		list-style: none;
		padding: 0 5px;
		margin: 0;
		display: block;
		li {
			display: block;
			margin: 0;
			padding: 3px 0;

			input {
				width: 300px;
				&.submit {
					width: auto;
				}
			}

			label {
				display: block;
				font-size: 0.9em;
			}

			textarea {
				width: 400px;
				height: 100px;
			}
		}
	}

	ul.error {
		float: none;
		display: block;
		width: auto;
		color: red;
		font-weight: bold;
	}

}

.success {
	display: block;
	color: green;
	font-weight: bold;
	font-size: 16px;
}

div#rate {
	display: block;
	height: 15px;
	width: 85px;
	text-align: center;
	
	span.star {
		height: 15px;
		width: 17px;
		float: left;
		background: url('../img/star.png') bottom left repeat-x;
		cursor: pointer;
	}

	span.hovered, span.selected {
		background: url('../img/star.png') top left repeat-x;
	}

}