@{
	List<curtmfg.Models.Category> parentcategories = ViewBag.parentcategories ?? new List<curtmfg.Models.Category>();
    curtmfg.Models.Category category = ViewBag.parent ?? new curtmfg.Models.Category();
	int active = 0;
	if(category != null) {
		active = category.catID;
	}

}
<nav id="sub_nav">
	<ul>
		@foreach (curtmfg.Models.Category currentcategory in parentcategories) {
			<li id="category_@(currentcategory.catTitle.ToLower().Replace(' ','_'))" @((active == currentcategory.catID) ? "class=active": "")><a href="@Url.RouteUrl("CategoryWithID", new { id = currentcategory.catID, name = currentcategory.catTitle.Replace('/', '|') })" title="@currentcategory.catTitle"><img src="/Content/img/icons/@(currentcategory.catTitle.Replace(" ","_")).png" alt="@currentcategory.catTitle" height="100" width="100" /></a><span></span><div class="overlay"></div></li>
		}
	</ul>
	<span class="clear"></span>
</nav>