$gradstart: #857f73;
$gradstartp: 0%;
$gradmiddle: #c6c1bd;
$gradmiddlep: 33%;
$gradend: #ededed;
$gradendp: 50%;

#container{
	background: #857f73; /* Old browsers */
	background: -moz-linear-gradient(top, $gradstart $gradstartp, $gradmiddle $gradmiddlep, $gradend $gradendp); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop($gradstartp,$gradstart), color-stop($gradmiddlep,$gradmiddle), color-stop($gradendp,$gradend)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#857f73', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* W3C */
}

#page_content {
	background: #fff;
}

h3 {
	font-size: 3.0em;
	font-family: ITCAvantGardeGothicStdBold;
	text-transform: uppercase;
	color: #333;
	letter-spacing: -.06em;
	line-height: 1;
    padding-top: 20px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

h4 {
	margin: 0;
	font-size: 1.4em;
    border-bottom: 1px solid #ccc;
	&#vehicle.hasvehicle {
		padding: 5px 10px 5px 0;
		text-align: right;
	}
}

#page_gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 0;
}

span.arrow {
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-right: 5px solid #000000;
	display: inline-block;
}

ul.tabs {
	position: relative;
	z-index: 10;
	list-style: none;
	margin: 0;
	padding: 7px 20px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ddd;

	li {
		margin: 0 3px;
		padding: 6px 0 0;
		position: relative;
		border-bottom: 0;
		float: left;

		a {
			text-decoration: none;
			text-transform: lowercase;
			color: #555;
			display: block;
			font-size: 1.8em;
			font-weight: bold;
			padding: 0 20px 5px;
			border-bottom: 4px solid #ddd;
			outline: none;
			
			&:hover {
				border-bottom: 4px solid #aaa;
				color: #000;
			}

			&.active {
				border-bottom: 4px solid #444;
				color: #000;
			}
		}
	}
}

div#categoryBrief {
	position: relative;
	font-size: 1.4em;
	padding: 0 20px 10px;
	z-index: 10;
}

div#categoryContent {
	display: none;
	position: relative;
	padding: 10px 20px;
	font-size: 1.4em;
	z-index: 10;
	* {
		position: relative;
	}
}

a#showCategoryContent, a#hideCategoryContent {
	float: right;
	margin: 10px 0;
}

#tab_container {
	display: block;
	overflow: hidden;
	#tab_scroll {
		position: relative;
		.tab_content {
			float: left;
			padding: 20px;
			#loadingprevious {
				display: none;
				margin: auto;
			}

			#loadPrevious {
				display: none;
				text-align: center;
				background-color: #eee;
				border: 1px solid #DDD;
				font-weight: bold;
				cursor: pointer;
				color: #555555;
				.arrow-up {
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid #555555;
					float: left;
					margin: 5px 0 0 5px;
				}
				.rightside {
					margin: 5px 5px 0 0;
					float: right;
				}
				&:hover {
					background-color: #ddd;
					border: 1px solid #333;
					color: #222;
					.arrow-up {
						border-bottom: 5px solid #333;
					}
				}
			}

			.subcategory {
				display: block;
				overflow: hidden;
				float: left;
				width: 194px;
				height: 174px;
				border: 3px solid #444444;
				border-radius: 7px;
				padding: 10px;
				padding-bottom: 25px;
				margin: 5px;
				text-align: center;
				font-size: 1.2em;
				color: #222;
				text-decoration: none;
				font-weight: bold;
				position: relative;
				&:hover {
					text-decoration: none;
				}
				img {
					display: block;
					margin: auto;
					width: 90%;
					height: auto;
					max-width: 90%;
				}
				span.subcatname {
					position: absolute;
					bottom: 10px;
					left: 10px;
					width: 194px;
				}
			}
			.partPage {
				position: relative;
				display: block;
				padding-top: 10px;

				span.pageNumber {
					position: absolute;
					left: 5px;
					top: 0;
					font-size: 1em;
					border: 1px solid #eee;
					border-top: 0;
					border-radius: 0 0 6px 6px;
					padding: 2px 10px;
					z-index: 100;
					color: #aaa;
				}

				.part {
					//border-bottom: 1px solid #ccc;
					padding: 15px;
					min-height: 170px;
					display: block;
					position: relative;
					background: #ffffff; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
					background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */

					.productImage {
						float: left;
						width: 220px;
						position: relative;

						.main_img {
							width: 200px;
							margin-right: 20px;
							height: 170px;
							text-align: center;
							text-decoration: none;
							position: relative;
							display: block;
							overflow: hidden;
							border: 1px solid #ddd;
							border-bottom: 0;
							background-color: #fff;
							//box-shadow: 0 0 15px #aaa;
							img {
								display: block;
								width: auto;
								height: 100%;
								margin: auto;
							}
						}
						.fitinfo {
							display: block;
							position: relative;
							border-radius: 0 20px 20px 0;
							padding: 10px 0 10px 10px;
							background-color: #efefef;
							border: 1px solid #ddd;
							border-top: 0;

							img {
								height: 20px;
								width: 20px;
								display: inline-block;
								padding-right: 5px;
							}

							img.thumb {
								height: 30px;
								width: auto;
								float: left;
								margin: 5px 10px;
								padding: 0;
							}

							span {
								font-size: 12px;
								display: inline-block;
								vertical-align: top;
								line-height: 20px;
								font-family: ITCAvantGardeGothicStdBold;
								a {
									color: #121212;
								}
							}
						}


					}

					.productContent {
						float: left;
						width: 440px;
						padding-right: 20px;
						text-align: left;
						.contentHeader {
							display: block;
							position: relative;
							a.productTitle {
								font-size: 1.8em;
								color: #121212;
								text-decoration: none;
								font-weight: bold;
								&:hover {
									color: #f05922;
								}
							}

							p {
								margin: 2px 0;
								font-size: 1.2em;
								span {
									padding-right: 11px;
									font-size: .9em;
									span {
										font-size: 1.1em;
										font-weight: bold;
									}
								}
							}

						}
						p.shortDescription {
							font-size: 12px;
						}
						table.partattributes {
							max-width: 200px;
							border-spacing: 0;
							padding: 5px 10px;
							text-align: left;
							margin-bottom: 10px;
							display: block;
							float: left;
							thead {
								tr {
									th {
										font-size: 1.2em;
										background-color: #EFEFEF;
										border-radius: 0 8px 8px 0;
										border: 1px solid #ddd;
										padding: 2px 10px;
									}
								}
							}
							tbody {
								tr {
									td {
										padding: 2px 7px;
										&.label {
											text-align: right;
											font-weight: bold;
											font-size: 1em;
										}
									}
								}
							}
						}
						a.viewdetails {
							&:before, &:after {
								content: "";
								display: block;
							}
							text-decoration: underline;
							float: right;
							color: #000;
							font-weight: bold;
							&:hover {
								color: #F05922;
							}
						}

					}

					.productRight {
						float:left;
						min-height: 135px;
						padding: 10px 15px 75px 25px;
						width: 175px;
						position: relative;
						background-color: #efefef;
						border: 1px solid #ddd;
						border-radius: 5px 0 0 5px;
						text-align: right;
						a.buyOnline {
							position: relative;
							display: block;
							color: #fff;
							font-weight: normal;
							text-transform: uppercase;
							white-space: nowrap;
							font-size: 1.2em;
							padding: 3px 15px;
							border-radius: 4px;
							font-family: 'ITCAvantGardeGothicStdBold';
							text-decoration: none;
							text-align: center;
						}
						.msrp {
							font-size: 1.4em;
							margin-bottom: 5px;
							span {
								font-size: 1.8em;
								font-weight: bold;
							}
						}

						.priceCode, .upc {
							font-size: 1.1em;
							margin: 0;
							font-weight: bold;
							span {
								font-size: 1.2em;
								font-weight: normal;
							}
						}

						a.instructions {
							display: block;
							color: Black;
							font-size: 10px;
							margin-top: 0px;
							margin-bottom: 5px;
							line-height: 20px;
							text-decoration: none;

							&:hover {
								span {
									text-decoration: underline;
								}
							}
							img {
								text-decoration: none;
							}

							span {
								font-size: 1.2em;
								text-transform: uppercase;
							}
						}

						.social {
							position: absolute;
							bottom: 5px;
							right: 5px;
							width: 200px;
							overflow: hidden;
							.partreviews {
								display: block;
								padding: 10px 0;
								.starrating {
									float: left;
								}
								.avgReview {
									margin-top: 5px;
									font-weight: bold;
									font-size: 12px;
									float: left;
								}

								.readReview {
									color: Black;
									font-weight: bold;
									font-size: 10px;
									float: left;
									margin: 0 10px;
								}
							}

							a {
								float:left;
								margin-right: 5px;
							}
							.mail {
								margin-left: 10px;
								img {
									width: 25px;
									height: 18px;
								}
							}
						}
						table {
							width: 100%;
							border-collapse: collapse;
							font-size: 1.1em;
							tr {
								td {
									vertical-align: top;
									padding: 3px;
								}
								td:first-child {
									text-align: right;
								}
							}
						}
					}
				}
				.product_img {
					width: 150px;
					height: 120px;
				}
			}
		}
	}
}

#mailForm {
	input[type=text] {
		width: 225px;
		height: 30px;
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding-left: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	textarea {
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding: 0px 10px;
		margin: 0px 10px;
		margin-bottom: 10px;
	}

	#btnMail {
		background: url('../img/btnSend.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}

	#btnReset {
		background: url('../img/btnReset.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}
}

table.gridview {
	border-collapse: collapse;
	width: 100%;
	font-size: 1.2em;
	border: none;
	thead {
		tr {
			th {
				padding: 4px 10px;
				border: none;
				border-bottom: 1px solid #222;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
				padding: 4px 10px;
				border: none;
				img {
					height: 35px;
					width: auto;
				}
				.button {
					white-space: nowrap;
					font-size: 12px;
					padding: 3px 6px 2px;
				}
			}
			&.odd td {
				background-color: #ddd;
			}
		}
	}
}

#gridViewLoading {
	display: block;
	clear: both;
	margin: auto;
	padding: 10px 0;
}

#gridViewMore {
	float: right;
	clear: both;
	margin-top: 15px;
}