#page_content {
	p {
		font-size: 1.2em;
	}
}

#contact_info {
	display: block;
	p {
		font-size: 12px;
	}

	#left_content {
		float: left;
		width: 53%;
	}

	form#contact_form {
		float: left;
		width: 47%;
		.error {
			color: Red;
			font-weight: bold;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				display: block;
				margin: 0;
				padding: 3px 0;
				
				.error {
					background-color: #ffedb7;
				}

				label {
					display: block;
					font-size: 1.1em;
				}

				input {
					display: block;
				}
				input[type='text'],input[type='tel'],input[type='email'] {
					width: 300px;
				}

				textarea {
					font-family: Arial, Helvetica, sans-serif;
				}

				&#buttons {
					input {
						margin: 3px 72px 0 0;
					}
				}
			}
		}
	}
}

#contact_box {
	border: 2px solid #ccc;
	display: block;
	padding: 10px 20px;

	strong {
		font-weight: bold;
		float: left;
		width: 100px;
		clear: left;
		font-size: 1.2em;
		padding: 3px 0;
	}
	p {
		font-size: 1.2em;
		margin: 0;
		float: left;
		clear: none;
		width: 600px;
		padding: 3px 0;
	}
}