#pageTitle {
  margin: 0px;
  padding: 15px 10px;
  font-size: 1.8em; }

#vehicleStr {
  padding: 0px 15px;
  font-size: 1.2em;
  margin: 0;
  padding: 5px 10px 5px 0;
  text-align: right; }

h4#vehicle.hasvehicle {
  padding: 5px 10px 5px 0;
  text-align: right; }

#page_gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 0; }

.fitinfo {
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 11; }
  .fitinfo img {
    height: 25px;
    width: 25px;
    padding-right: 10px; }
  .fitinfo span {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    line-height: 27px;
    font-family: ITCAvantGardeGothicStdBold; }

#image_box {
  position: relative;
  float: left;
  width: 331px;
  margin: 15px;
  z-index: 1; }
  #image_box .mainImg {
    display: block;
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 5px; }
    #image_box .mainImg img {
      box-shadow: 0 0 15px #aaa;
      display: block;
      width: auto;
      height: 100%;
      margin: auto; }
  #image_box #smImages {
    margin: auto;
    width: 312px;
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-bottom: 1px solid #dddddd; }
    #image_box #smImages a {
      float: left;
      height: 60px;
      width: 60px;
      margin: 5px;
      overflow: hidden; }
      #image_box #smImages a img {
        display: block;
        width: auto;
        height: 100%;
        margin: auto; }

.star {
  font-size: 20px;
  font-weight: bold;
  line-height: 0.5em;
  color: #e44f31;
  cursor: pointer;
  position: relative; }

#hitchInfo {
  float: left;
  width: 560px;
  margin: 1.2em 15px 0 20px;
  font-size: 1.2em; }
  #hitchInfo header {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 20px;
    position: relative; }
    #hitchInfo header h2 {
      margin: 0; }
    #hitchInfo header p {
      margin: 2px 0;
      font-size: 10px; }
      #hitchInfo header p span {
        padding-right: 15px; }
        #hitchInfo header p span span {
          font-size: 12px;
          font-weight: bold; }
    #hitchInfo header #averageReview {
      float: left;
      padding: 5px 0;
      display: block;
      text-align: center; }
      #hitchInfo header #averageReview span.avgReview {
        font-weight: bold; }
      #hitchInfo header #averageReview .starrating {
        float: left;
        margin-right: 15px; }
      #hitchInfo header #averageReview .writeReview {
        float: left;
        font-weight: bold;
        color: #000;
        font-size: .9em; }
    #hitchInfo header #social {
      float: right;
      height: 28px;
      overflow: hidden; }
      #hitchInfo header #social img {
        width: 25px;
        height: 18px; }
      #hitchInfo header #social a {
        float: left;
        margin-right: 5px; }
  #hitchInfo #hitchleft {
    float: left;
    width: 290px;
    margin-right: 15px; }
    #hitchInfo #hitchleft #msrp {
      float: left;
      font-size: 1em;
      margin-top: 0; }
      #hitchInfo #hitchleft #msrp span {
        font-size: 1.6em;
        font-weight: bold; }
    #hitchInfo #hitchleft .buyOnline {
      float: right;
      color: #fff;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.2em;
      padding: 3px 15px;
      border-radius: 4px;
      font-family: 'ITCAvantGardeGothicStdBold';
      text-decoration: none; }
    #hitchInfo #hitchleft #primaryVideo {
      display: block;
      margin: 10px auto;
      width: 202px; }
      #hitchInfo #hitchleft #primaryVideo img {
        display: block;
        border: 1px solid #808285;
        border-radius: 5px; }
  #hitchInfo #pdf {
    text-decoration: none; }
    #hitchInfo #pdf span {
      color: Blue; }
      #hitchInfo #pdf span:hover {
        text-decoration: underline; }
  #hitchInfo table#installation, #hitchInfo table#details, #hitchInfo table#appguide {
    max-width: 232px;
    float: right;
    clear: right;
    display: block;
    border-radius: 8px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: left;
    background-color: #f4f4f4;
    margin-bottom: 10px; }
    #hitchInfo table#installation thead th, #hitchInfo table#details thead th, #hitchInfo table#appguide thead th {
      border-bottom: 4px solid #dddddd;
      font-size: 1.4em;
      width: 230px; }
    #hitchInfo table#installation tbody td, #hitchInfo table#details tbody td, #hitchInfo table#appguide tbody td {
      height: 25px; }
      #hitchInfo table#installation tbody td a img, #hitchInfo table#details tbody td a img, #hitchInfo table#appguide tbody td a img {
        vertical-align: middle; }
      #hitchInfo table#installation tbody td.label, #hitchInfo table#details tbody td.label, #hitchInfo table#appguide tbody td.label {
        text-align: right;
        padding: 0 15px;
        font-weight: bold;
        font-size: 1em; }
      #hitchInfo table#installation tbody td a#showVideo, #hitchInfo table#details tbody td a#showVideo, #hitchInfo table#appguide tbody td a#showVideo {
        text-decoration: none;
        background: url("/Content/img/playvideo.png") top left no-repeat;
        width: 30px;
        height: 20px;
        float: left;
        font-size: 0px; }
        #hitchInfo table#installation tbody td a#showVideo:hover, #hitchInfo table#details tbody td a#showVideo:hover, #hitchInfo table#appguide tbody td a#showVideo:hover {
          text-decoration: underline; }

.tooltip {
  display: none;
  background: transparent url("../img/black_arrow.png");
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #fff;
  z-index: 10000; }

#content {
  margin: 0px 15px;
  padding: 15px 0px 45px; }
  #content ul.tabs {
    margin: 0;
    padding: 7px 20px;
    list-style: none;
    background-color: #f4f4f4;
    border-bottom: 1px solid #dddddd;
    border-radius: 15px 15px 0 0; }
    #content ul.tabs li {
      float: left;
      margin: 0 3px;
      padding: 0;
      position: relative;
      border-bottom: 0; }
      #content ul.tabs li a {
        text-decoration: none;
        text-transform: lowercase;
        color: #555;
        display: block;
        font-size: 1.1em;
        font-weight: bold;
        padding: 6px 20px 5px;
        border-bottom: 4px solid #ddd;
        outline: none; }
        #content ul.tabs li a:hover {
          border-bottom: 4px solid #aaa;
          color: #000; }
        #content ul.tabs li a.active {
          border-bottom: 4px solid #444;
          color: #000; }
      #content ul.tabs li.active a {
        background-color: #999; }
  #content #tab_container {
    display: block;
    overflow: hidden;
    position: relative; }
    #content #tab_container #tab_scroll {
      position: relative; }
      #content #tab_container #tab_scroll .tab_content {
        float: left;
        padding: 10px; }

#vehicles table {
  border-collapse: collapse;
  width: 100%;
  margin: auto; }
  #vehicles table td, #vehicles table th {
    padding: 5px;
    font-size: 1.2em; }
  #vehicles table thead tr {
    border-bottom: 2px solid #ccc; }
  #vehicles table tbody tr {
    border: none;
    background-color: white; }
    #vehicles table tbody tr:hover {
      background-color: #ccc; }
  #vehicles table tbody .btnSubmit {
    border: none;
    background: url("../img/findHitch.png") no-repeat;
    width: 79px;
    height: 25px;
    cursor: pointer; }
#vehicles #vehiclePagination {
  display: block;
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
  border-top: 2px solid #ccc; }
  #vehicles #vehiclePagination #vehiclePrev, #vehicles #vehiclePagination #vehicleNext {
    float: left;
    height: 19px;
    width: 19px;
    cursor: pointer;
    background-image: url("../img/back_enabled.jpg"); }
  #vehicles #vehiclePagination span {
    padding: 0 10px;
    font-weight: bold; }
    #vehicles #vehiclePagination span#vehiclePage, #vehicles #vehiclePagination span#vehiclePages {
      padding: 0; }
  #vehicles #vehiclePagination #vehicleNext {
    float: right;
    background-image: url("../img/forward_enabled.jpg"); }

#mailForm input[type=text] {
  width: 225px;
  height: 30px;
  font-size: 12pt;
  color: black;
  border: 1px solid #999;
  border-radius: 5px 5px;
  background-color: white;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }
#mailForm textarea {
  font-size: 12pt;
  color: black;
  border: 1px solid #999;
  border-radius: 5px 5px;
  background-color: white;
  padding: 0px 10px;
  margin: 0px 10px;
  margin-bottom: 10px; }
#mailForm #btnMail {
  background: url("../img/btnSend.png") no-repeat;
  width: 70px;
  height: 40px;
  border: none;
  margin-left: 10px;
  cursor: pointer; }
#mailForm #btnReset {
  background: url("../img/btnReset.png") no-repeat;
  width: 70px;
  height: 40px;
  border: none;
  margin-left: 10px;
  cursor: pointer; }

#electrical .electrical-nofit {
  position: relative;
  padding: 5px 0 5px 10px;
  margin: 0;
  font-size: 1.4em; }
  #electrical .electrical-nofit span {
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    float: left; }
    #electrical .electrical-nofit span a {
      color: #222; }
  #electrical .electrical-nofit img {
    float: left;
    height: 35px;
    width: 35px;
    padding-right: 10px;
    vertical-align: middle; }
#electrical .part {
  padding: 15px;
  min-height: 170px;
  display: block;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f3f3f3 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #f3f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  /* IE6-8 */ }
  #electrical .part .productImage {
    float: left;
    width: 220px;
    position: relative; }
    #electrical .part .productImage .main_img {
      width: 200px;
      margin-right: 20px;
      height: 170px;
      text-align: center;
      text-decoration: none;
      position: relative;
      display: block;
      overflow: hidden;
      border: 1px solid #ddd;
      border-bottom: 0;
      background-color: #fff; }
      #electrical .part .productImage .main_img img {
        display: block;
        width: auto;
        height: 100%;
        margin: auto; }
    #electrical .part .productImage .fitinfo {
      display: block;
      position: relative;
      border-radius: 0 20px 20px 0;
      padding: 10px 0 10px 10px;
      background-color: #efefef;
      border: 1px solid #ddd;
      border-top: 0;
      top: auto;
      left: auto; }
      #electrical .part .productImage .fitinfo img {
        height: 20px;
        width: 20px;
        display: inline-block;
        padding-right: 5px; }
      #electrical .part .productImage .fitinfo img.thumb {
        height: 30px;
        width: auto;
        float: left;
        margin: 5px 10px;
        padding: 0; }
      #electrical .part .productImage .fitinfo span {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        font-family: ITCAvantGardeGothicStdBold; }
        #electrical .part .productImage .fitinfo span a {
          color: #121212; }
  #electrical .part .productContent {
    float: left;
    width: 430px;
    padding-right: 20px;
    text-align: left; }
    #electrical .part .productContent .contentHeader {
      display: block;
      position: relative; }
      #electrical .part .productContent .contentHeader a.productTitle {
        font-size: 1.8em;
        color: #121212;
        text-decoration: none;
        font-weight: bold; }
        #electrical .part .productContent .contentHeader a.productTitle:hover {
          color: #f05922; }
      #electrical .part .productContent .contentHeader p {
        margin: 2px 0;
        font-size: 1.2em; }
        #electrical .part .productContent .contentHeader p span {
          padding-right: 11px;
          font-size: .9em; }
          #electrical .part .productContent .contentHeader p span span {
            font-size: 1.1em;
            font-weight: bold; }
    #electrical .part .productContent p.shortDescription {
      font-size: 12px; }
    #electrical .part .productContent table.partattributes {
      max-width: 200px;
      border-spacing: 0;
      padding: 5px 10px;
      text-align: left;
      margin-bottom: 10px;
      display: block;
      float: left; }
      #electrical .part .productContent table.partattributes thead tr th {
        font-size: 1.2em;
        background-color: #EFEFEF;
        border-radius: 0 8px 8px 0;
        border: 1px solid #ddd;
        padding: 2px 10px; }
      #electrical .part .productContent table.partattributes tbody tr td {
        padding: 2px 7px; }
        #electrical .part .productContent table.partattributes tbody tr td.label {
          text-align: right;
          font-weight: bold;
          font-size: 1em; }
  #electrical .part .productRight {
    float: left;
    min-height: 135px;
    padding: 10px 15px 75px 25px;
    width: 175px;
    position: relative;
    background-color: #efefef;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    text-align: right; }
    #electrical .part .productRight a.buyOnline {
      position: relative;
      display: block;
      color: #fff;
      font-weight: normal;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 1.2em;
      padding: 3px 15px;
      border-radius: 4px;
      font-family: 'ITCAvantGardeGothicStdBold';
      text-decoration: none;
      text-align: center; }
    #electrical .part .productRight .msrp {
      font-size: 1.4em;
      margin-bottom: 0; }
      #electrical .part .productRight .msrp span {
        font-size: 1.8em;
        font-weight: bold; }
    #electrical .part .productRight .priceCode, #electrical .part .productRight .upc {
      font-size: 1.1em;
      margin: 0;
      font-weight: bold; }
      #electrical .part .productRight .priceCode span, #electrical .part .productRight .upc span {
        font-size: 1.2em;
        font-weight: normal; }
    #electrical .part .productRight a.instructions {
      display: block;
      color: Black;
      font-size: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 20px;
      text-decoration: none; }
      #electrical .part .productRight a.instructions:hover span {
        text-decoration: underline; }
      #electrical .part .productRight a.instructions img {
        text-decoration: none; }
      #electrical .part .productRight a.instructions span {
        font-size: 1.2em;
        text-transform: uppercase; }
    #electrical .part .productRight .social {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 200px;
      overflow: hidden; }
      #electrical .part .productRight .social .partreviews {
        display: block;
        padding: 10px 0; }
        #electrical .part .productRight .social .partreviews .starrating {
          float: left; }
        #electrical .part .productRight .social .partreviews .avgReview {
          margin-top: 5px;
          font-weight: bold;
          font-size: 12px;
          float: left; }
        #electrical .part .productRight .social .partreviews .readReview {
          color: Black;
          font-weight: bold;
          font-size: 10px;
          float: left;
          margin: 0 10px; }
      #electrical .part .productRight .social a {
        float: left;
        margin-right: 5px; }
      #electrical .part .productRight .social .mail {
        margin-left: 10px; }
        #electrical .part .productRight .social .mail img {
          width: 25px;
          height: 18px; }
    #electrical .part .productRight table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1.1em; }
      #electrical .part .productRight table tr td {
        vertical-align: top;
        padding: 3px; }
      #electrical .part .productRight table tr td:first-child {
        text-align: right; }

#reviews a.writeReview {
  float: left;
  margin: 0 0 10px; }
#reviews p {
  margin: 0;
  font-size: 1.2em; }
#reviews .review {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc; }
  #reviews .review .reviewTitle {
    font-weight: bold;
    margin-right: 10px;
    font-size: 12pt;
    float: left; }

#howto #howto_instruction {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 4px 0 10px;
  font-size: 15pt; }
  #howto #howto_instruction a {
    margin-left: 20px;
    color: #e44f31;
    text-decoration: none; }
    #howto #howto_instruction a span {
      text-decoration: underline; }
#howto #howto_icon {
  text-decoration: none;
  width: 30px;
  vertical-align: bottom; }
#howto div.partvideo {
  float: left;
  width: 400px;
  padding: 10px 28px; }
  #howto div.partvideo p {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    font-family: ITCAvantGardeGothicStdBold;
    text-transform: uppercase;
    letter-spacing: -.06em;
    line-height: 1;
    color: #818286; }
  #howto div.partvideo iframe {
    width: 400px;
    height: 264px; }

.req {
  color: red;
  font-weight: bold; }

div#addreview {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #ccc; }
  div#addreview h4 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0; }
  div#addreview ul.formlist {
    list-style: none;
    padding: 0 5px;
    margin: 0;
    display: block; }
    div#addreview ul.formlist li {
      display: block;
      margin: 0;
      padding: 3px 0; }
      div#addreview ul.formlist li input {
        width: 300px; }
        div#addreview ul.formlist li input.submit {
          width: auto; }
      div#addreview ul.formlist li label {
        display: block;
        font-size: 0.9em; }
      div#addreview ul.formlist li textarea {
        width: 400px;
        height: 100px; }
  div#addreview ul.error {
    float: none;
    display: block;
    width: auto;
    color: red;
    font-weight: bold; }

p.notetitle {
  font-weight: bold;
  margin-bottom: 0; }

.success {
  display: block;
  color: green;
  font-weight: bold;
  font-size: 16px; }

div#rate {
  display: block;
  height: 15px;
  width: 85px;
  text-align: center; }
  div#rate span.star {
    height: 15px;
    width: 17px;
    float: left;
    background: url("../img/star.png") bottom left repeat-x;
    cursor: pointer; }
  div#rate span.hovered, div#rate span.selected {
    background: url("../img/star.png") top left repeat-x; }

#accessories .accessory {
  float: left;
  width: 192px;
  border: 3px solid #444444;
  border-radius: 7px;
  padding: 10px;
  padding-bottom: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  position: relative; }
  #accessories .accessory:hover {
    text-decoration: none;
    border-color: #e54e31; }
  #accessories .accessory span.accessimage {
    display: block;
    height: 200px;
    overflow: hidden; }
    #accessories .accessory span.accessimage img {
      display: block;
      margin: auto;
      width: 90%;
      height: auto;
      max-width: 90%; }
  #accessories .accessory span.accessname {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 194px; }
    #accessories .accessory span.accessname strong {
      font-size: 15px;
      display: block; }
    #accessories .accessory span.accessname span {
      display: block;
      font-weight: normal; }
      #accessories .accessory span.accessname span strong {
        font-size: 1em;
        display: inline; }

