$bgcolor: #F4F4F4;
$bordercolor: #ddd;

#pageTitle {
	margin: 0px;
	padding: 15px 10px;
	font-size: 1.8em;
}

#vehicleStr {
    padding: 0px 15px;
	font-size: 1.2em;
	margin: 0;
	padding: 5px 10px 5px 0;
	text-align: right;
}

h4#vehicle.hasvehicle {
	padding: 5px 10px 5px 0;
	text-align: right;
}

#page_gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	z-index: 0;
}

.fitinfo {
	display: block;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 11;
	img {
		height: 25px;
		width: 25px;
		padding-right: 10px;
	}
	span {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		line-height: 27px;
		font-family: ITCAvantGardeGothicStdBold;
	}
}

#image_box {
	position: relative;
    float:left;
    width: 331px;
    margin: 15px;
	z-index: 1;

	.mainImg {
		display: block;
		width: 90%;
		height: 300px;
		margin: auto;
		padding: 5px;
		img {
			box-shadow: 0 0 15px #aaa;
			display: block;
			width: auto;
			height: 100%;
			margin: auto;
		}
	}

	#smImages {
		margin: auto;
		width: 312px;
		margin-top: 10px;
		background-color: $bgcolor;
		padding: 5px 10px;
		border-bottom: 1px solid $bordercolor;
		a {
			float: left;
			height: 60px;
			width: 60px;
			margin: 5px;
			overflow: hidden;
			img {
				display: block;
				width: auto;
				height: 100%;
				margin: auto;
			}
		}
	}
}

.star {
	font-size: 20px;
	font-weight: bold;
	line-height: 0.5em;
	color: #e44f31;
	cursor: pointer;
	position: relative;
}

#hitchInfo {
	float:left;
	width: 560px;
	margin: 1.2em 15px 0 20px;
	font-size: 1.2em;
	header {
		display: block;
		border-bottom: 1px solid #ccc;
		padding-bottom: 4px;
		margin-bottom: 20px;
		position: relative;
		h2 {
			margin: 0;
		}
		p {
			margin: 2px 0;
			font-size: 10px;
			span {
				padding-right: 15px;
				span {
					font-size: 12px;
					font-weight: bold;
				}
			}
		}
		#averageReview {
			float: left;
			padding: 5px 0;
			display: block;
			text-align: center;

			span.avgReview {
				font-weight: bold;
			}
			.starrating {
				float: left;
				margin-right: 15px;
			}
			.writeReview {
				float: left;
				font-weight: bold;
				color: #000;
				font-size: .9em;
			}
		}
		#social {
			float: right;
			height: 28px;
			overflow: hidden;
			img {
				width: 25px;
				height: 18px;
			}
			a {
				float:left;
				margin-right: 5px;
			}

		}
	}
	#hitchleft {
		float: left;
		width: 290px;
		margin-right: 15px;
		#msrp {
			float: left;
			font-size: 1em;
			margin-top: 0;
			span {
				font-size: 1.6em;
				font-weight: bold;
			}
		}
		.buyOnline {
			float: right;
			color: #fff;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 1.2em;
			padding: 3px 15px;
			border-radius: 4px;
			font-family: 'ITCAvantGardeGothicStdBold';
			text-decoration: none;
		}
		#primaryVideo {
			display: block;
			margin: 10px auto;
			width: 202px;
			img {
				display: block;
				border: 1px solid #808285;
				border-radius: 5px;
			}
		}
	}
	#pdf {
		text-decoration: none;
		span {
			color: Blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	table#installation, table#details, table#appguide {
		max-width: 232px;
		float: right;
		clear: right;
		display: block;
		border-radius: 8px;
		border: 1px solid $bordercolor;
		border-collapse: collapse;
		padding: 5px 10px;
		text-align: left;
		background-color: $bgcolor;
		margin-bottom: 10px;
		thead {
			th {
				border-bottom: 4px solid $bordercolor;
				font-size: 1.4em;
				width: 230px;
			}
		}
		tbody {
			td {
				height: 25px;
				
				a img {
					vertical-align: middle;
				}
				&.label {
					text-align: right;
					padding: 0 15px;
					font-weight: bold;
					font-size: 1em;
				}
				a#showVideo {
					text-decoration: none;
					font-size: 0px;
					width: 100%;
					height: 129px;
					position: relative;
					display: block;
					img {
						display: block;
						width: 100%;
						height: auto;
					}
					span.overlay {
						position: absolute;
						height: 129px;
						width: 230px;
						top: 0;
						left: 0;
						z-index: 2;
						cursor: pointer;
						&:hover {
							span.playbutton {
								background: #b53b30; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1M2IzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzA3MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
								background: -moz-linear-gradient(top,  #b53b30 0%, #6c070f 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b53b30), color-stop(100%,#6c070f)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  #b53b30 0%,#6c070f 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  #b53b30 0%,#6c070f 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  #b53b30 0%,#6c070f 100%); /* IE10+ */
								background: linear-gradient(to bottom,  #b53b30 0%,#6c070f 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b53b30', endColorstr='#6c070f',GradientType=0 ); /* IE6-8 */
							}
						}
						span.playbutton {
							position: absolute;
							left: 93px;
							top: 50px;
							height: 30px;
							width: 44px;
							z-index: 3;
							background-color: #111;
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNjA2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
							background: -moz-linear-gradient(top,  #606060 0%, #111111 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#111111)); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(top,  #606060 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(top,  #606060 0%,#111111 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(top,  #606060 0%,#111111 100%); /* IE10+ */
							background: linear-gradient(to bottom,  #606060 0%,#111111 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#111111',GradientType=0 ); /* IE6-8 */
							border-radius: 8px;
							&:after {
								position: absolute;
								top: 7px;
								left: 16px;
								z-index: 4;
								content: "";
								width: 0px;
								height: 0px;
								border: 8px solid transparent;
								border-right: 0px;
								border-left: 14px solid #fff;
								border-radius: 3px;
							}
						}
					}
				}
			}
		}
	}
}

.tooltip {
	display:none;
	background: transparent url('../img/black_arrow.png');
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;	
	z-index: 10000;
}


#content {
	margin: 0px 15px;
	padding: 15px 0px 45px;

	ul.tabs {
		margin: 0;
		padding: 7px 20px;
		list-style: none;
		background-color: $bgcolor;
		border-bottom: 1px solid $bordercolor;
		border-radius: 15px 15px 0 0;

		li {
			float: left;
			margin: 0 3px;
			padding: 0;
			position: relative;
			border-bottom: 0;
		
			a {
				text-decoration: none;
				text-transform: lowercase;
				color: #555;
				display: block;
				font-size: 1.1em;
				font-weight: bold;
				padding: 6px 20px 5px;
				border-bottom: 4px solid #ddd;
				outline: none;
			
				&:hover {
					border-bottom: 4px solid #aaa;
					color: #000;
				}

				&.active {
					border-bottom: 4px solid #444;
					color: #000;
				}
			}
			&.active a {
				background-color: #999;
			}
		}
	}

	#tab_container {
		display: block;
		overflow: hidden;
		position: relative;
		#tab_scroll {
			position: relative;
			.tab_content {
				float: left;
				padding: 10px;
			}
		}
	}
}


#vehicles {
	table {
		border-collapse: collapse;
		width: 100%;
		margin:auto;
	
		td, th {
			padding: 5px;
			font-size: 1.2em;
		}

		thead tr {
			border-bottom: 2px solid #ccc;
		}

		tbody {
			tr {
				border: none;
				background-color: white;
				&:hover {
					background-color: #ccc;
				}
			}

			.btnSubmit {
				border: none;
				background: url('../img/findHitch.png') no-repeat;
				width: 79px;
				height: 25px;
				cursor: pointer;
			}
		}
	}
	#vehiclePagination {
		display: block;
		padding: 4px 0;
		text-align: center;
		font-size: 12px;
		border-top: 2px solid #ccc;
		#vehiclePrev, #vehicleNext {
			float: left;
			height: 19px;
			width: 19px;
			cursor: pointer;
			background-image: url('../img/back_enabled.jpg');
		}
		span {
			padding: 0 10px;
			font-weight: bold;
			&#vehiclePage, &#vehiclePages {
				padding: 0;
			}
		}
		#vehicleNext {
			float: right;
			background-image: url('../img/forward_enabled.jpg');
		}
	}
}

#mailForm {
	input[type=text] {
		width: 225px;
		height: 30px;
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding-left: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	textarea {
		font-size: 12pt;
		color: black;
		border: 1px solid #999;
		border-radius: 5px 5px;
		background-color: white;
		padding: 0px 10px;
		margin: 0px 10px;
		margin-bottom: 10px;
	}

	#btnMail {
		background: url('../img/btnSend.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}

	#btnReset {
		background: url('../img/btnReset.png') no-repeat;
		width: 70px;
		height: 40px;
		border: none;
		margin-left: 10px;
		cursor: pointer;
	}
}

#electrical {
	.electrical-nofit {
		position: relative;
		padding: 5px 0 5px 10px;
		margin: 0;
		font-size: 1.4em;
		span {
			font-size: 14px;
			line-height: 18px;
			vertical-align: middle;
			float: left;
			a {
				color: #222;
			}
		}
		img {
			float: left;
			height: 35px;
			width: 35px;
			padding-right: 10px;
			vertical-align: middle
		}
	}
	.part {
		//border-bottom: 1px solid #ccc;
		padding: 15px;
		min-height: 170px;
		display: block;
		position: relative;
		background: #ffffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
		background: linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */

		.productImage {
			float: left;
			width: 220px;
			position: relative;

			.main_img {
				width: 200px;
				margin-right: 20px;
				height: 170px;
				text-align: center;
				text-decoration: none;
				position: relative;
				display: block;
				overflow: hidden;
				border: 1px solid #ddd;
				border-bottom: 0;
				background-color: #fff;
				//box-shadow: 0 0 15px #aaa;
				img {
					display: block;
					width: auto;
					height: 100%;
					margin: auto;
				}
			}
			.fitinfo {
				display: block;
				position: relative;
				border-radius: 0 20px 20px 0;
				padding: 10px 0 10px 10px;
				background-color: #efefef;
				border: 1px solid #ddd;
				border-top: 0;
				top: auto;
				left: auto;

				img {
					height: 20px;
					width: 20px;
					display: inline-block;
					padding-right: 5px;
				}

				img.thumb {
					height: 30px;
					width: auto;
					float: left;
					margin: 5px 10px;
					padding: 0;
				}

				span {
					font-size: 12px;
					display: inline-block;
					vertical-align: top;
					line-height: 20px;
					font-family: ITCAvantGardeGothicStdBold;
					a {
						color: #121212;
					}
				}
			}


		}

		.productContent {
			float: left;
			width: 430px;
			padding-right: 20px;
			text-align: left;
			.contentHeader {
				display: block;
				position: relative;
				a.productTitle {
					font-size: 1.8em;
					color: #121212;
					text-decoration: none;
					font-weight: bold;
					&:hover {
						color: #f05922;
					}
				}

				p {
					margin: 2px 0;
					font-size: 1.2em;
					span {
						padding-right: 11px;
						font-size: .9em;
						span {
							font-size: 1.1em;
							font-weight: bold;
						}
					}
				}

			}
			p.shortDescription {
				font-size: 12px;
			}
			table.partattributes {
				max-width: 200px;
				border-spacing: 0;
				padding: 5px 10px;
				text-align: left;
				margin-bottom: 10px;
				display: block;
				float: left;
				thead {
					tr {
						th {
							font-size: 1.2em;
							background-color: #EFEFEF;
							border-radius: 0 8px 8px 0;
							border: 1px solid #ddd;
							padding: 2px 10px;
						}
					}
				}
				tbody {
					tr {
						td {
							padding: 2px 7px;
							&.label {
								text-align: right;
								font-weight: bold;
								font-size: 1em;
							}
						}
					}
				}
			}
		}

		.productRight {
			float:left;
			min-height: 135px;
			padding: 10px 15px 75px 25px;
			width: 175px;
			position: relative;
			background-color: #efefef;
			border: 1px solid #ddd;
			border-radius: 5px 0 0 5px;
			text-align: right;
			a.buyOnline {
				position: relative;
				display: block;
				color: #fff;
				font-weight: normal;
				text-transform: uppercase;
				white-space: nowrap;
				font-size: 1.2em;
				padding: 3px 15px;
				border-radius: 4px;
				font-family: 'ITCAvantGardeGothicStdBold';
				text-decoration: none;
				text-align: center;
			}
			.msrp {
				font-size: 1.4em;
				margin-bottom: 0;
				span {
					font-size: 1.8em;
					font-weight: bold;
				}
			}
			.priceCode, .upc {
				font-size: 1.1em;
				margin: 0;
				font-weight: bold;
				span {
					font-size: 1.2em;
					font-weight: normal;
				}
			}

			a.instructions {
				display: block;
				color: Black;
				font-size: 10px;
				margin-top: 5px;
				margin-bottom: 5px;
				line-height: 20px;
				text-decoration: none;

				&:hover {
					span {
						text-decoration: underline;
					}
				}
				img {
					text-decoration: none;
				}

				span {
					font-size: 1.2em;
					text-transform: uppercase;
				}
			}

			.social {
				position: absolute;
				bottom: 5px;
				right: 5px;
				width: 200px;
				overflow: hidden;
				.partreviews {
					display: block;
					padding: 10px 0;
					.starrating {
						float: left;
					}
					.avgReview {
						margin-top: 5px;
						font-weight: bold;
						font-size: 12px;
						float: left;
					}

					.readReview {
						color: Black;
						font-weight: bold;
						font-size: 10px;
						float: left;
						margin: 0 10px;
					}
				}

				a {
					float:left;
					margin-right: 5px;
				}
				.mail {
					margin-left: 10px;
					img {
						width: 25px;
						height: 18px;
					}
				}
			}
			table {
				width: 100%;
				border-collapse: collapse;
				font-size: 1.1em;
				tr {
					td {
						vertical-align: top;
						padding: 3px;
					}
					td:first-child {
						text-align: right;
					}
				}
			}
		}
	}

}

#reviews {
	a.writeReview {
		float: left;
		margin: 0 0 10px;
	}
	p {
		margin: 0;
		font-size: 1.2em;
	}
	.review {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #ccc;

		.reviewTitle {
			font-weight: bold;
			margin-right: 10px;
			font-size: 12pt;
			float:left;
		}

	}
}

$vidwidth: 400px;
$aspect: 0.66;

#howto {
	#howto_instruction {
		display: block;
		text-align: left;
		font-weight: bold;
		margin: 0;
		padding: 4px 0 10px;
		font-size: 15pt;
		a {
			margin-left: 20px;
			color: #e44f31;
			text-decoration: none;
			span {
				text-decoration: underline;
			}
		}
	}
	#howto_icon {
		text-decoration: none;
		width: 30px;
		vertical-align: bottom;
	}
	div.partvideo {
		float: left;
		width: $vidwidth;
		padding: 10px 28px;
		p {
			font-size: 1.6em;
			font-weight: bold;
			margin: 0;
			padding: 5px 0;
			font-family: ITCAvantGardeGothicStdBold;
			text-transform: uppercase;
			letter-spacing: -.06em;
			line-height: 1;
			color: #818286;
		}
		iframe {
			width: $vidwidth;
			height: $vidwidth * $aspect;
		}
	}
}

.req {
	color: red;
	font-weight: bold;
}

div#addreview {
	display: block;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;

	h4 {
		font-weight: bold;
		font-size: 1.5em;
		margin: 0;
	}
	
	ul.formlist {
		list-style: none;
		padding: 0 5px;
		margin: 0;
		display: block;
		li {
			display: block;
			margin: 0;
			padding: 3px 0;

			input {
				width: 300px;
				&.submit {
					width: auto;
				}
			}

			label {
				display: block;
				font-size: 0.9em;
			}

			textarea {
				width: 400px;
				height: 100px;
			}
		}
	}

	ul.error {
		float: none;
		display: block;
		width: auto;
		color: red;
		font-weight: bold;
	}

}

p.notetitle {
	font-weight: bold;
	margin-bottom:0;
}

.success {
	display: block;
	color: green;
	font-weight: bold;
	font-size: 16px;
}

div#rate {
	display: block;
	height: 15px;
	width: 85px;
	text-align: center;
	
	span.star {
		height: 15px;
		width: 17px;
		float: left;
		background: url('../img/star.png') bottom left repeat-x;
		cursor: pointer;
	}

	span.hovered, span.selected {
		background: url('../img/star.png') top left repeat-x;
	}

}

#accessories {
	.accessory {
		float: left;
		width: 192px;
		border: 3px solid #444444;
		border-radius: 7px;
		padding: 10px;
		padding-bottom: 40px;
		margin: 5px;
		text-align: center;
		font-size: 1.2em;
		color: #222;
		text-decoration: none;
		font-weight: bold;
		position: relative;
		&:hover {
			text-decoration: none;
			border-color: #e54e31;
		}
		span.accessimage {
			display: block;
			height: 200px;
			overflow: hidden;
			img {
				display: block;
				margin: auto;
				width: 90%;
				height: auto;
				max-width: 90%;
			}
		}
		span.accessname {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 194px;
			strong {
				font-size: 15px;
				display: block;
			}
			span {
				display: block;
				font-weight: normal;
				strong {
					font-size: 1em;
					display: inline;
				}
			}
		}
	}
}