* {zoom: 1;}
#nav_container {
    width: 969px;
}

#footer .footcontent #footsocial, #footer .footcontent #links {float: right; clear: both;}
#sub_nav ul li {padding: 0 10px 0 11px; margin: 0;}
#videoContainer ul.videos li {
    float: right;
    clear: none;
    width: 16px;
    margin-right: 10px;
}

#videoContainer ul.videos li a { clear: none;}