$gradstart: #857f73;
$gradstartp: 0%;
$gradmiddle: #c6c1bd;
$gradmiddlep: 33%;
$gradend: #ededed;
$gradendp: 50%;

#container{
	background: #857f73; /* Old browsers */
	background: -moz-linear-gradient(top, $gradstart $gradstartp, $gradmiddle $gradmiddlep, $gradend $gradendp); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop($gradstartp,$gradstart), color-stop($gradmiddlep,$gradmiddle), color-stop($gradendp,$gradend)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#857f73', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, $gradstart $gradstartp,$gradmiddle $gradmiddlep,$gradend $gradendp); /* W3C */
}

a.landingLink {
	display: block;
	margin: auto;
	width: 969px;
	text-decoration: none;
}

#page_content {
	background: #fff;
	//overflow: hidden;
	position: relative;
	&.content h2 {
		font-size: 3.0em;
		font-family: ITCAvantGardeGothicStdBold;
		text-transform: uppercase;
		color: #666;
		letter-spacing: -.1em;
		line-height: 1;
		margin: 0;
		padding: .83em 0;
	}
	#sidebar {
		position: relative;
		float: left;
		width: 240px;
		height: 100%;
		padding: 0 0 20px;
		margin: 20px 0 0 -20px;
		div.menutitle {
			position: relative;
			z-index: 10;
			list-style: none;
			margin: 0 0 5px;
			padding: 7px 20px;
			background-color: #f4f4f4;
			border-bottom: 1px solid #ddd;

			strong {
				margin: 0;
				padding: 6px 0 5px;
				color: #000;
				font-size: 1.8em;
				border-bottom: 4px solid #ddd;
				float: left;
			}

		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
				a {
					display: block;
					padding: 4px 5px 4px 20px;
					text-decoration: none;
					color: #000;
					font-size: 1.2em;
					&:hover, &.active {
						background-color: #ccc;
					}
				}
				ul {
					li {
						padding-left: 15px;
						a {
							font-size: 1.1em;
							padding: 3px 5px 3px 20px;
						}
					}
				}
			}
		}
	}
	.main {
		float: left;
		width: 640px;
		padding-left: 20px;
	}
}

#pagination {
	display: block;
	clear: both;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 10px;
	text-align: center;
	
	a {
		float: left;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
		&#next {
			float: right;
		}
	}
}

article.news {
	display: block;
	padding: 8px 0;
	
	h2 {
		font-size: 1.6em;
		margin: 10px 0 2px;
		padding: 0 0 2px;
	}

	.title {
		font-size: 1.4em;
		margin: 0 0 2px;
		padding: 0 0 2px;
		font-weight: bold;
		text-decoration: none;
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}

	.byline {
		border-top: 1px solid #cccccc;
		font-size: 1.1em;
		text-align: right;
		margin: 3px 0;
	}

	.lead {
		font-size: 1.2em;
		padding: 0 0 10px 10px;
		margin: 0;
		line-height: 1.2;
		a {
			font-size: .8em;
			color: #343434;
		}
	}

	.content {
		font-size: 1.2em;
		padding: 0 0 10px 10px;
		margin: 0;
		line-height: 1.2;
	}

	a.back {
		color: #343434;
		font-weight: bold;
		font-size: 1.1em;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

a.archive, a.newshome {
	font-size: 1.2em;
	color: #f05922;
	margin: 5px 0;
}

a.archive {
	float: right;
}

.result {
	display: block;
	padding: 10px;
	font-size: 1.4em;
	border-top: 1px dashed #ccc;
	a {
		color: #343434;
		font-weight: bold;
	}
	.description {
		font-size: .8em;
		font-style: italic;
		padding-left: 10px;
	}
}

#pagination {
	display: block;
	text-align: center;
	font-size: 1.2em;
	a {
		float: left;
		color: Black;
		font-weight: bold;

		&#nextpage {
			float: right;
		}
	}
}

#hitchlookup {
	height: 190px;
	p {
		padding-bottom: 2px;
	}
}