#page_content {
	background: #fff;
	padding: 0 20px 20px;
	width: 929px;
	#page_gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120px;
		z-index: 0;
		background: rgb(178,178,178); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjJiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(178,178,178,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(178,178,178,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	}

	h3 {
		font-size: 3.0em;
		font-family: ITCAvantGardeGothicStdBold;
		text-transform: uppercase;
		color: #333;
		letter-spacing: -.06em;
		line-height: 1;
		padding-top: 20px;
		margin-left: 10px;
		margin-top: 0px;
		margin-bottom: 20px;
		position: relative;
		z-index: 1;
	}

	h4 {
		font-size: 2em;
		color: #f05922;
		margin: 0;
	}

	#disclaimer {
		box-shadow: 0px 0px 15px #ccc;
		border-radius: 5px;
		padding: 8px 15px 8px 25px;
		display: inline-block;
		&:before {
			content: "IMPORTANT";
			color: #F05922;
			font-family: ITCAvantGardeGothicStdBold;
			font-size: 1.4em;
			display: block;
			margin-left: -10px;
		}
	}

	#lifestylecontent {
		display: block;
		position: relative;
		z-index: 2;
		padding-bottom: 20px;
		#mainimg {
			float: right;
			margin-left: 25px;
			margin-bottom: 25px;
			box-shadow: 2px 5px 30px #000;
			border-radius: 10px;
		}
		p {
			font-size: 1.2em;
		}
		#lifestylecontentblock {
			display: block;
			p {
				line-height: 1.8;
			}
		}

		table {
			margin-bottom: 20px;
			border-collapse: collapse;
			border-bottom: 1px solid #000;
			border-right: 1px solid #000;
			width: 100%;
			font-size: 1.2em;
			text-align: left;
			tr {
				th, td {
					border-top: 1px solid #000;
					border-left: 1px solid #000;
					height: 60px;
					width: 20%;
					padding: 4px;
				}
			}

			tr.weights {
				th, td {
					background-color: #ccc;
					border-top: 2px solid #000;
					border-bottom: 2px solid #000;
				}
			}
		}

		#classSelector {
			display: none;
			ul#vehicleTypes {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					float: left;
					width: 25%;
					margin: 5px 0;
					text-align: center;
					a {
						position: relative;
						height: 100px;
						margin: 0 5px;
						padding: 5px 10px;
						display: block;
						font-size: 11px;
						text-decoration: none;
						color: #000;
						border: 2px solid #000;
						border-radius: 8px;
						opacity: .4;
						-webkit-transition: 0.4s all ease-in-out;
						-moz-transition: 0.4s all ease-in-out;
						-o-transition: 0.4s all ease-in-out;
						transition: 0.4s all ease-in-out;
						white-space: nowrap;
					
						&.active, &:hover {
							opacity: 1;
						}

						&#compact {
							img {
								margin-top: 24px;
								width: 60%;
							}
						}
						&#midsized {
							img {
								margin-top: 6px;
								width: 90%;
							}
						}
						&#suv {
							img {
								margin-top: 6px;
							}
						}
						&#fullsize {
							img {
								margin-top: 9px;
							}
						}
						img {
							width: 100%;
							padding: 5px 0;
							height: auto;
							display: block;
							margin: auto;
						}
						span {
							position: absolute;
							width: 90%;
							bottom: 5px;
							left: 10px;
							text-align: center;
						}
					}
				}
			}

			#vehicleClasses {
				position: relative;
				z-index: 1;
				padding: 10px 0;
				p {
					margin: 0;
				}
				#classCarousel {
					display: block;
					position: relative;
					overflow: hidden;
					min-height: 100px;
					z-index: 1;
					#carouselArrowLeft {
						position: absolute;
						top: 0;
						left: 0;
						width: 50px;
						height: 100%;
						z-index: 100;
						cursor: pointer;
						background-color: #fff;
						span {
							margin: 20px 0 0 8px;
							height: 0;
							width: 0;
							border: 50px solid transparent;
							border-left: 0px;
							border-right: 36px solid rgb(0,127,63);
							display: inline-block;
						}
					}
					#carouselArrowRight {
						position: absolute;
						top: 0;
						right: 0;
						width: 50px;
						height: 100%;
						z-index: 100;
						cursor: pointer;
						background-color: rgb(255,255,255);
						span {
							margin: 20px 0 0 8px;
							height: 0;
							width: 0;
							border: 50px solid transparent;
							border-right: 0px;
							border-left: 36px solid rgb(0,127,63);
							display: inline-block;
						}
					}
					#carousel {
						position: relative;
						left: 0;
						.vehicleClass {
							position: relative;
							float: left;
							padding: 5px 15px;
							cursor: pointer;
							z-index: 50;
							min-width: 125px;
							p.vehicleName {
								margin: 0;
								font-weight: bold;
								font-size: 11px;
								padding-bottom: 4px;
								text-align: center;
							}
							div.classimg {
								display: block;
								overflow: hidden;
								text-align: center;
								margin-bottom: 10px;
								&:hover {
									box-shadow: 0px 10px 10px #ddd;
								}
								img {
									margin: auto;
									vertical-align: bottom;
								}
							}
							div.classinfo {
								z-index: 50;
								position: relative;
								display: none;
								background-color: #c04c33;
								color: #fff;
								left: 0;
								padding: 10px 0;
								box-shadow: 0px 0px 20px #444444;
								p {
									padding: 0 10px;
									margin: 0;
									&.hitchClass {
										font-size: 16px;
										display: block;
										padding-bottom: 5px;
										font-weight: bold;
									}
									&.shortDesc {
										padding-bottom: 5px;
									}
									&.gtw, &.tw {
										font-size: 11px;
									}
								}
							}
							div.exceedsinfo {
								z-index: 50;
								position: relative;
								display: none;
								background-color: #6d6966;
								color: #fff;
								left: 0;
								box-shadow: 0px 0px 20px #444444;
								p {
									padding: 10px;
									strong {
										font-size: 16px;
										display: block;
										padding-bottom: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	#recommended {
		display: block;
		clear: both;
		position: relative;
		z-index: 1;
		h4 {
			margin: 10px 0;
		}
		.part {
			float: left;
			width: 156px;
			box-shadow: 0px 3px 30px #444444;
			border-radius: 7px;
			padding: 10px;
			padding-bottom: 40px;
			margin: 8px;
			text-align: center;
			font-size: 1.2em;
			color: #222;
			text-decoration: none;
			font-weight: bold;
			position: relative;
			&:hover {
				text-decoration: none;
				box-shadow: 0px 0px 30px #c04c33;
			}
			span.partimage {
				display: block;
				height: 160px;
				overflow: hidden;
				img {
					display: block;
					margin: auto;
					width: 90%;
					height: auto;
					max-width: 90%;
				}
			}
			span.partname {
				position: absolute;
				bottom: 10px;
				left: 10px;
				width: 156px;
				strong {
					font-size: 1.2em;
					display: block;
				}
				span {
					display: block;
					font-weight: normal;
					strong {
						font-size: 1em;
						display: inline;
					}
				}
			}
		}

	}
}