/* 
    Document   : master
    Created on : Sep 20, 2010, 9:10:17 AM
    Author     : aninneman
    Description:
        This stylesheet will house all of our master styles
*/
/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@font-face {
  font-family: 'ITCLubalinGraphStdDemi';
  src: url("fonts/lubalingraphstd-demi-webfont.eot");
  src: url("fonts/lubalingraphstd-demi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lubalingraphstd-demi-webfont.woff") format("woff"), url("fonts/lubalingraphstd-demi-webfont.ttf") format("truetype"), url("fonts/lubalingraphstd-demi-webfont.svg#ITCLubalinGraphStdDemi") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ITCAvantGardeGothicStdBold';
  src: url("fonts/itcavantgardestd-bold-webfont.eot");
  src: url("fonts/itcavantgardestd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/itcavantgardestd-bold-webfont.woff") format("woff"), url("fonts/itcavantgardestd-bold-webfont.ttf") format("truetype"), url("fonts/itcavantgardestd-bold-webfont.svg#ITCAvantGardeGothicStdBold") format("svg");
  font-weight: normal;
  font-style: normal; }

root {
  display: block; }

img {
  border: none; }

iframe {
  background: transparent;
  border: 0;
  z-index: 1; }

html {
  font-family: Droid Sans, Arial, "Sans Serif";
  margin: 0px;
  padding: 0px;
  direction: ltr;
  height: 100%;
  font-size: 10px;
  position: relative; }

body {
  display: block;
  position: relative;
  height: 100%;
  max-width: 1020px;
  margin: 0px auto;
  background-color: #999999;
  z-index: 1; }

.button {
  background: #e64d2c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e64d2c 50%, #8e402f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #e64d2c), color-stop(100%, #8e402f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e64d2c 50%, #8e402f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e64d2c 50%, #8e402f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e64d2c 50%, #8e402f 100%);
  /* IE10+ */
  background: linear-gradient(top, #e64d2c 50%, #8e402f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e64d2c', endColorstr='#8e402f',GradientType=0 );
  /* IE6-9 */
  border: none;
  border-radius: 4px/6px;
  border-bottom: 1px solid #e64d2c;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px 15px 4px;
  cursor: pointer;
  z-index: 10; }
  .button:hover {
    text-decoration: none; }

/* Useful site styling */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.middle {
  vertical-align: middle; }

.top {
  vertical-align: top; }

.bottom {
  vertical-align: bottom; }

.hidden {
  display: none !important; }

.clear {
  display: block !important;
  clear: both !important;
  position: relative !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  font-size: 0 !important;
  float: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important; }

a:hover {
  text-decoration: underline; }

#container {
  border-top: 7px solid #E64D2C;
  background: #857f73;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1N2Y3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2M2YzFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #857f73 0%, #c6c1bd 56%, #ededed 70%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #857f73), color-stop(56%, #c6c1bd), color-stop(70%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #857f73 0%, #c6c1bd 56%, #ededed 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #857f73 0%, #c6c1bd 56%, #ededed 70%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #857f73 0%, #c6c1bd 56%, #ededed 70%);
  /* IE10+ */
  background: linear-gradient(top, #857f73 0%, #c6c1bd 56%, #ededed 70%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#857f73', endColorstr='#ededed',GradientType=0 );
  /* IE6-8 */
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -225px;
  display: block;
  position: relative;
  z-index: 2; }

.optionbox {
  position: relative;
  float: left;
  width: 460px;
  margin: 10px 0 15px 9px;
  padding: 8px 10px;
  text-decoration: none;
  background: #343434;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iODglIiBzdG9wLWNvbG9yPSIjMzQzNDM0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover, #343434 88%, #1c1c1c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(88%, #343434), color-stop(100%, #1c1c1c));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #343434 88%, #1c1c1c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #343434 88%, #1c1c1c 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #343434 88%, #1c1c1c 100%);
  /* IE10+ */
  background: radial-gradient(center, ellipse cover, #343434 88%, #1c1c1c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#1c1c1c',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
  color: #f4f4f4;
  font-weight: bold;
  font-size: 1.1em; }
  .optionbox:first-child {
    margin-left: 0; }
  .optionbox:hover {
    text-decoration: none; }
  .optionbox span {
    display: block; }
    .optionbox span img {
      display: block; }

#fitYourLifestyle #lifestyleimages {
  position: relative;
  display: block;
  height: 170px; }
  #fitYourLifestyle #lifestyleimages img {
    display: none; }

#header {
  display: block;
  background: #857f73;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0d0d0d, #2c2e2b);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d0d0d), color-stop(100%, #2c2e2b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='#2c2e2b',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #0d0d0d 0%, #2c2e2b 100%);
  /* W3C */
  width: 969px;
  margin: auto;
  z-index: 1;
  position: relative; }
  #header #topLogo {
    padding: 16px;
    float: left;
    position: relative; }
  #header #searchArea {
    position: relative;
    top: 0px;
    right: 55px;
    height: 75px;
    width: 303px;
    float: right;
    clear: right;
    z-index: 2;
    color: white;
    overflow: hidden; }
    #header #searchArea a {
      color: white;
      font-family: Droid Sans, Arial, "Sans Serif";
      text-decoration: none;
      font-size: 10pt; }
      #header #searchArea a:hover {
        text-decoration: underline; }
    #header #searchArea .searchBox {
      background-color: #857d72;
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      behavior: url("/Content/css/PIE.htc");
      height: 45px;
      padding-left: 13px;
      width: 290px; }
      #header #searchArea .searchBox table tr {
        height: 40px;
        vertical-align: bottom;
        text-align: center;
        margin: auto; }
      #header #searchArea .searchBox input[type=text], #header #searchArea .searchBox input[type=password] {
        position: relative;
        top: 3px;
        left: 0px;
        border: 0px #857f73 inset;
        height: 25px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        /*margin-left:10px;*/
        padding: 3px;
        font-size: 10pt;
        background-color: white; }
      #header #searchArea .searchBox input[type=submit] {
        position: relative;
        top: 3px; }
    #header #searchArea span {
      text-align: left !important; }
  #header #loginArea {
    position: relative;
    top: 0px;
    right: 35px;
    height: 75px;
    width: 443px;
    float: right;
    z-index: 0;
    color: white;
    overflow: hidden; }
    #header #loginArea a {
      color: white;
      font-family: Droid Sans, Arial, "Sans Serif";
      text-decoration: none;
      font-size: 10pt; }
      #header #loginArea a:hover {
        text-decoration: underline; }
    #header #loginArea .searchBox {
      background-color: #857d72;
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      behavior: url("/Content/css/PIE.htc");
      height: 45px;
      padding-left: 13px;
      width: 430px; }
      #header #loginArea .searchBox table tr {
        height: 40px;
        vertical-align: bottom;
        text-align: center;
        margin: auto; }
      #header #loginArea .searchBox input[type=text], #header #loginArea .searchBox input[type=password] {
        position: relative;
        top: 3px;
        left: 0px;
        border: 0px #857f73 inset;
        height: 25px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        /*margin-left:10px;*/
        padding: 3px;
        font-size: 10pt;
        background-color: white; }
      #header #loginArea .searchBox input[type=submit] {
        position: relative;
        top: 3px; }
  #header div.scrollbox {
    margin: 0;
    padding: 0; }
    #header div.scrollbox span {
      display: none; }
  #header #homeHeader {
    display: block;
    text-align: right;
    padding-right: 10px;
    position: relative; }
    #header #homeHeader #header_img {
      display: block;
      width: auto;
      position: relative;
      float: right;
      height: 260px;
      margin: 0; }

.shadow {
  text-align: center;
  margin: auto; }

#sub_nav {
  background: #3f3e3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3f3e3c 0%, #847d73 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3e3c), color-stop(100%, #847d73));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3f3e3c 0%, #847d73 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3f3e3c 0%, #847d73 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #3f3e3c 0%, #847d73 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3e3c', endColorstr='#847d73',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #3f3e3c 0%, #847d73 100%);
  /* W3C */
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 0 20px;
  margin: 10px 0 0;
  overflow: hidden; }
  #sub_nav ul {
    position: relative;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: block;
    text-align: center; }
    #sub_nav ul li {
      float: left;
      margin: 0 10px 0 11px;
      box-shadow: 0 3px 2px #444;
      border-radius: 8px;
      position: relative; }
      #sub_nav ul li.active {
        box-shadow: 0 4px 25px #000;
        top: -2px; }
        #sub_nav ul li.active span, #sub_nav ul li.active div.overlay {
          top: 108px; }
      #sub_nav ul li a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        width: 100px;
        height: 100px;
        display: block;
        z-index: 2; }
      #sub_nav ul li span {
        width: 98px;
        height: 16px;
        position: absolute;
        z-index: 1;
        top: 104px;
        left: 1px;
        border-radius: 0 0 8px 8px; }
      #sub_nav ul li .overlay {
        width: 98px;
        height: 16px;
        position: absolute;
        z-index: 1;
        top: 104px;
        left: 1px;
        border-radius: 8px 8px 0 0;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkNzY2YyIgc3RvcC1vcGFjaXR5PSIwLjI5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NDdkNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(125, 118, 108, 0.29) 0%, #847d75 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 118, 108, 0.29)), color-stop(100%, #847d75));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(125, 118, 108, 0.29) 0%, #847d75 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(125, 118, 108, 0.29) 0%, #847d75 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(125, 118, 108, 0.29) 0%, #847d75 100%);
        /* IE10+ */
        background: linear-gradient(top, rgba(125, 118, 108, 0.29) 0%, #847d75 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a7d766c', endColorstr='#847d75',GradientType=0 );
        /* IE6-8 */ }
      #sub_nav ul li#category_accessories a {
        background: url("../img/icons/Accessories_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_accessories span {
        background: url("../img/icons/Accessories.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_electrical a {
        background: url("../img/icons/Electrical_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_electrical span {
        background: url("../img/icons/Electrical.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_security a {
        background: url("../img/icons/Security_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_security span {
        background: url("../img/icons/Security.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_specialized_towing a {
        background: url("../img/icons/Specialized_Towing_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_specialized_towing span {
        background: url("../img/icons/Specialized_Towing.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_trailer_balls a {
        background: url("../img/icons/Trailer_Balls_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_trailer_balls span {
        background: url("../img/icons/Trailer_Balls.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_cargo_management a {
        background: url("../img/icons/Cargo_Management_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_cargo_management span {
        background: url("../img/icons/Cargo_Management.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_ball_mounts a {
        background: url("../img/icons/Ball_Mounts_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_ball_mounts span {
        background: url("../img/icons/Ball_Mounts.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }
      #sub_nav ul li#category_hitches a {
        background: url("../img/icons/Hitches_opacity.png") bottom center no-repeat; }
      #sub_nav ul li#category_hitches span {
        background: url("../img/icons/Hitches.png") bottom center no-repeat;
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        opacity: .5; }

#internalheader {
  display: block;
  text-align: right;
  padding-right: 10px; }

#hitchlookup {
  position: absolute;
  z-index: 2000;
  width: 260px;
  height: 240px;
  padding: 10px 15px;
  background: #343434;
  behavior: url("/Content/css/PIE.htc");
  font-size: 1.4em;
  color: #fff;
  font-weight: bold;
  display: block; }
  #hitchlookup span#closeLookup {
    display: none;
    position: absolute;
    top: -14px;
    right: -10px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none; }
  #hitchlookup p {
    display: block;
    position: relative;
    text-align: left;
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 10px;
    line-height: 1; }
  #hitchlookup #lookupError {
    margin-bottom: 0;
    float: left;
    color: #847d73;
    font-size: 12px;
    font-weight: bold;
    text-align: left !important; }
  #hitchlookup span:hover {
    text-decoration: underline; }
  #hitchlookup .asterisk {
    color: black;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.7em;
    margin-right: 35px;
    display: none; }
  #hitchlookup form {
    display: block;
    margin: 0;
    padding: 0; }
    #hitchlookup form div {
      display: block;
      margin: 0;
      padding: 4px 0;
      line-height: 1;
      position: relative; }
      #hitchlookup form div select {
        display: block;
        margin: 0;
        width: 97%;
        border-radius: 3px 3px 3px;
        border: none;
        font-size: 13px; }
      #hitchlookup form div img {
        position: absolute;
        right: -10px;
        top: 4px; }
      #hitchlookup form div .btnSubmit {
        font-size: .9em;
        position: relative;
        width: 100%; }

#nav_container {
  display: block;
  clear: both; }
  #nav_container ul {
    display: block;
    margin: 5px 0;
    list-style: none;
    padding: 0; }
    #nav_container ul li {
      float: left; }
      #nav_container ul li a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        padding: 6px 0 6px 0;
        float: left;
        border-right: 1px solid #fff; }
        #nav_container ul li a:hover {
          background: url("../img/nav_selected.png") repeat-x;
          border-right: 1px solid transparent; }
      #nav_container ul li.last a {
        border-right: none; }

#page_content {
  display: block;
  position: relative;
  height: auto;
  width: 969px;
  margin: 0 auto 30px; }
  #page_content.content {
    width: 929px;
    padding: 1px 20px 20px; }

#site_map {
  display: block;
  background-color: #857f73;
  min-height: 100px; }
  #site_map .map_box {
    float: left;
    color: #343434;
    margin: 15px 0;
    text-align: left;
    width: 16%; }
    #site_map .map_box a, #site_map .map_box h5 {
      color: #343434; }
    #site_map .map_box h5 {
      margin: 0 0 10px 30px;
      margin-top: 0px;
      text-decoration: underline;
      font-weight: bold;
      color: black;
      font-size: 1.3em; }
    #site_map .map_box ul {
      list-style: none;
      margin: 0 0 0 30px;
      padding: 0; }
      #site_map .map_box ul li {
        margin: 0;
        padding: 0;
        display: block; }
        #site_map .map_box ul li a {
          clear: both;
          font-size: 1.1em;
          text-decoration: none;
          line-height: 1.3;
          position: relative; }
          #site_map .map_box ul li a:hover {
            text-shadow: none;
            text-decoration: underline; }
          #site_map .map_box ul li a img {
            vertical-align: middle; }

#site_map_bottom {
  background: #807d76;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwN2Q3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzczNmU2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDdkNzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #807d76 0%, #736e68 50%, #807d76 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #807d76), color-stop(50%, #736e68), color-stop(100%, #807d76));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #807d76 0%, #736e68 50%, #807d76 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #807d76 0%, #736e68 50%, #807d76 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #807d76 0%, #736e68 50%, #807d76 100%);
  /* IE10+ */
  background: linear-gradient(left, #807d76 0%, #736e68 50%, #807d76 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#807d76', endColorstr='#807d76',GradientType=1 );
  /* IE6-8 */
  width: 100%;
  height: 5px;
  margin: auto; }

#footer {
  display: block;
  background-color: #343434;
  height: 100px;
  padding: 25px; }
  #footer .footcontent {
    float: right;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0; }
    #footer .footcontent #footsocial {
      display: block;
      text-align: right;
      margin: 6px 0 0 0; }
      #footer .footcontent #footsocial a.sociallogo img {
        margin-left: 5px;
        height: 27px;
        width: auto; }
    #footer .footcontent #links {
      display: block;
      margin: auto;
      color: white;
      position: relative;
      padding: 0; }
      #footer .footcontent #links a {
        color: #ffffff;
        text-decoration: none;
        margin: 0; }
        #footer .footcontent #links a:hover {
          text-decoration: underline; }
      #footer .footcontent #links span {
        display: inline-block;
        margin: 0 10px; }
      #footer .footcontent #links a.sociallogo {
        float: left;
        margin-right: 5px; }
        #footer .footcontent #links a.sociallogo img {
          height: 27px;
          width: auto; }
  #footer #footlogo {
    float: left;
    width: 200px; }
    #footer #footlogo #copyright {
      display: block;
      color: #fff;
      position: relative;
      margin: 0;
      padding: 6px 0 0; }
    #footer #footlogo a {
      display: block;
      width: 159px;
      height: 37px; }
      #footer #footlogo a img {
        height: 100%;
        width: auto; }

/* Left Navigation */
#leftnavigation {
  position: relative;
  z-index: 1;
  float: left;
  width: 20%; }
  #leftnavigation h2 {
    margin-bottom: 2px;
    padding-left: 10px; }
  #leftnavigation ul {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px; }
    #leftnavigation ul li a {
      padding: 5px 0 5px 10px;
      font-size: 14px;
      font-weight: 400;
      color: #222222;
      text-decoration: none;
      display: block; }
      #leftnavigation ul li a:hover, #leftnavigation ul li a.selected {
        background-color: rgba(0, 94, 130, 0.5);
        color: #000000; }
    #leftnavigation ul li.year span {
      margin-left: 20px; }
    #leftnavigation ul li.year a {
      padding: 5px 0 5px 10px;
      font-size: 12px;
      font-weight: bold;
      color: #222222;
      text-decoration: none;
      display: block; }
      #leftnavigation ul li.year a:hover, #leftnavigation ul li.year a.selected {
        background-color: rgba(0, 94, 130, 0.5);
        color: #000000; }

#leftnavigation_shadow {
  background: url("../img/classList_shadow.png") no-repeat;
  float: left;
  height: 196px;
  width: 2%; }

/* End Left Navigation */
/* FAQ */
article.question {
  display: block;
  font-size: 1.2em;
  padding: 8px 0; }
  article.question p {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding: 0 0 2px;
    margin: 0; }
  article.question div.answer {
    padding-top: 4px; }

/* End FAQ */
/* Application Guides */
#applicationGuides {
  display: block; }
  #applicationGuides h3 {
    color: #f26552;
    font-size: 1.5em;
    font-weight: normal;
    padding-bottom: 16px; }
  #applicationGuides .app {
    display: block;
    margin-bottom: 10px; }
    #applicationGuides .app .app_links {
      width: 120px;
      float: left; }
    #applicationGuides .app span {
      line-height: 2.5em;
      vertical-align: bottom;
      float: left;
      font-size: 1.6em; }

/* End Application Guides */
div.starrating {
  display: block;
  height: 15px;
  width: 85px;
  background: url("../img/star.png") bottom left repeat-x;
  margin: auto;
  text-align: left; }
  div.starrating span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #000;
    text-shadow: #fff 2px 2px 3px; }
  div.starrating span.stars {
    display: block;
    height: 15px;
    background: url("../img/star.png") top left repeat-x; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  float: left;
  margin: 10px 3px 0 0; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  float: left;
  margin: 7px 8px 0 0; }

#site_overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%; }

#site_overlay_container {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

img#loading {
  display: none;
  padding: 5px 0;
  margin: auto; }

img.actualsizeimg {
  position: absolute;
  display: block;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 25px #444; }

#wheretobuydealers {
  display: block;
  height: 350px;
  width: 400px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
  z-index: 3000;
  border-radius: 5px;
  text-align: center; }
  #wheretobuydealers span#wheretobuyclose {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
    padding: 0px 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    margin: 0; }
    #wheretobuydealers span#wheretobuyclose:hover {
      background-color: #ccc;
      color: #fff; }
  #wheretobuydealers h2 {
    margin: 0;
    text-align: left;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    font-size: 3.0em;
    font-family: ITCAvantGardeGothicStdBold;
    text-transform: uppercase;
    color: #333;
    letter-spacing: -0.1em;
    line-height: 1; }
  #wheretobuydealers ul {
    display: block;
    margin: 0;
    padding: 20px 23px 10px;
    list-style: none; }
    #wheretobuydealers ul li {
      float: left;
      padding: 2px 4px;
      text-align: center; }
      #wheretobuydealers ul li a {
        font-size: 1.4em;
        color: #000; }
        #wheretobuydealers ul li a img {
          height: 48px;
          width: auto; }
  #wheretobuydealers #dealerloading {
    display: block;
    margin: 10px auto 100px; }
  #wheretobuydealers a#seemoredealers {
    font-size: 1.4em;
    color: #000;
    margin-bottom: 40px;
    display: inline-block; }
  #wheretobuydealers a#becomedealer {
    position: absolute;
    bottom: 8px;
    right: 8px; }
  #wheretobuydealers div#wheretobuyform {
    display: block;
    margin-top: 10px; }
    #wheretobuydealers div#wheretobuyform label {
      font-size: 1.2em;
      font-weight: bold; }
      #wheretobuydealers div#wheretobuyform label input {
        width: 80px; }
    #wheretobuydealers div#wheretobuyform input.button {
      padding: 3px 15px 2px;
      margin-left: 5px; }

.req {
  font-size: 1.6em;
  color: #b51807;
  font-weight: bold; }

h4#vehicle {
  position: relative;
  z-index: 10;
  font-size: 1.4em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 0 5px 10px;
  margin: 0;
  text-align: left; }
  h4#vehicle img {
    display: inline-block;
    height: 25px;
    width: 25px;
    padding-right: 10px;
    vertical-align: middle; }
    h4#vehicle img.clearloading {
      margin-left: 5px;
      height: auto;
      width: auto; }
  h4#vehicle span {
    font-size: 14px;
    line-height: 25px;
    vertical-align: middle; }
    h4#vehicle span.yourvehicle {
      font-size: 11px;
      font-weight: normal; }
  h4#vehicle a {
    color: #222; }
    h4#vehicle a.clearvehicle {
      font-size: 11px;
      font-weight: normal;
      margin-left: 5px; }

p.breadcrumbs {
  margin: 0;
  font-size: 1.2em;
  position: relative;
  z-index: 1;
  padding: 10px 0 0 10px; }
  p.breadcrumbs a {
    color: #000; }
    p.breadcrumbs a:hover {
      text-decoration: underline; }

.twitter-tweet, .facebook-like, .gplus1 {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 3px; }

.twitter-tweet {
  width: 60px;
  height: 20px;
  overflow: hidden; }

.facebook-like {
  width: 50px;
  height: 25px;
  overflow: hidden; }
  .facebook-like iframe {
    border: none;
    background-color: transparent; }

