/* 
    Document   : master
    Created on : Sep 20, 2010, 9:10:17 AM
    Author     : aninneman
    Description:
        This stylesheet will house all of our master styles
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@font-face {
    font-family: 'ITCLubalinGraphStdDemi';
    src: url('fonts/lubalingraphstd-demi-webfont.eot');
    src: url('fonts/lubalingraphstd-demi-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lubalingraphstd-demi-webfont.woff') format('woff'),
    url('fonts/lubalingraphstd-demi-webfont.ttf') format('truetype'),
    url('fonts/lubalingraphstd-demi-webfont.svg#ITCLubalinGraphStdDemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBold';
    src: url('fonts/itcavantgardestd-bold-webfont.eot');
    src: url('fonts/itcavantgardestd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardestd-bold-webfont.woff') format('woff'),
         url('fonts/itcavantgardestd-bold-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardestd-bold-webfont.svg#ITCAvantGardeGothicStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

root { 
    display: block;
}

img{
    border:none;
}

iframe {
	background: transparent;
	border: 0;
	z-index: 1;
}

html{
    font-family: Droid Sans, Arial, "Sans Serif";
    margin:0px;
    padding:0px;
    direction: ltr;
    height: 100%;
    font-size: 10px;
	position: relative;
}

body{
	display: block;
	position: relative;
    height: 100%;
    max-width: 1020px;
    margin: 0px auto;
    background-color: #999999;
	z-index: 1;
}

.button {
	background: #e64d2c; /* Old browsers */
	background: -moz-linear-gradient(top, #e64d2c 50%, #8e402f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#e64d2c), color-stop(100%,#8e402f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e64d2c 50%,#8e402f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e64d2c 50%,#8e402f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e64d2c 50%,#8e402f 100%); /* IE10+ */
	background: linear-gradient(top, #e64d2c 50%,#8e402f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64d2c', endColorstr='#8e402f',GradientType=0 ); /* IE6-9 */
	border: none;
	border-radius: 4px / 6px;
	border-bottom: 1px solid #e64d2c;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 15px 4px;
	cursor: pointer;
	z-index: 10;
	&:hover {
		text-decoration: none;
	}
}

/* Useful site styling */

.center { text-align: center; }
.left { text-align: left;}
.right { text-align: right; }
.middle { vertical-align: middle; }
.top { vertical-align: top; }
.bottom { vertical-align: bottom; }
.hidden { display: none !important; }

.clear {
	display:block !important;
	clear: both !important;
	position: relative !important;
	height: 0 !important;
	width: 0 !important;
	overflow:hidden !important;
	font-size: 0 !important;
	float: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

a:hover{
	text-decoration: underline;
}

$gradstart: #857f73;
$gradstartp: 0%;
$gradmiddle: #c6c1bd;
$gradmiddlep: 56%;
$gradend: #ededed;
$gradendp: 70%;


#container{
    border-top: 7px solid #E64D2C;
	background: rgb(133,127,115); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1N2Y3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2M2YzFiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(133,127,115,1) 0%, rgba(198,193,189,1) 56%, rgba(237,237,237,1) 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,127,115,1)), color-stop(56%,rgba(198,193,189,1)), color-stop(70%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(133,127,115,1) 0%,rgba(198,193,189,1) 56%,rgba(237,237,237,1) 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(133,127,115,1) 0%,rgba(198,193,189,1) 56%,rgba(237,237,237,1) 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(133,127,115,1) 0%,rgba(198,193,189,1) 56%,rgba(237,237,237,1) 70%); /* IE10+ */
	background: linear-gradient(top,  rgba(133,127,115,1) 0%,rgba(198,193,189,1) 56%,rgba(237,237,237,1) 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#857f73', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -225px;
	display: block;
	position: relative;
	z-index: 2;
}

$headstartcolor: #0d0d0d;
$headstartp: 0%;
$headendcolor: #2c2e2b;
$headendp: 100%;

@mixin searchbox($boxsize) {
	.searchBox{
		background-color: #857d72;
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		behavior:url('/Content/css/PIE.htc');
		height:45px;
		padding-left: 13px;
		width: $boxsize;

		table tr {
			height:40px;
			vertical-align:bottom;
			text-align:center;
			margin:auto;
		}

		input[type=text], input[type=password] {
			position:relative;
			top:3px;
			left:0px;
			border: 0px #857f73 inset;
			height:25px;
			border-radius:2px;
			-moz-border-radius: 2px;
			/*margin-left:10px;*/
			padding:3px;
			font-size:10pt;
			background-color:white;
		}

		input[type=submit]{
			position: relative;
			top:3px;
		}

	}
}

.optionbox {
	position: relative;
	float: left;
	width: 460px;
	margin: 10px 0 15px 9px;
	padding: 8px 10px;
	text-decoration: none;
	background: rgb(52,52,52); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iODglIiBzdG9wLWNvbG9yPSIjMzQzNDM0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover, rgba(52,52,52,1) 88%, rgba(28,28,28,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(88%,rgba(52,52,52,1)), color-stop(100%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(52,52,52,1) 88%,rgba(28,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(52,52,52,1) 88%,rgba(28,28,28,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(52,52,52,1) 88%,rgba(28,28,28,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, rgba(52,52,52,1) 88%,rgba(28,28,28,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	color: #f4f4f4;
	font-weight: bold;
	font-size: 1.1em;
	&:first-child {
		margin-left: 0;
	}
	&:hover {
		text-decoration: none;
	}
	span {
		display: block;
		img {
			display: block;
		}
	}
}

#fitYourLifestyle {
	#lifestyleimages {
		position: relative;
		display: block;
		height: 170px;
		img {
			display: none;
		}
	}
}

#header
{
	display: block;
	background: $gradstart; /* Old browsers */
	background: -moz-linear-gradient(top, $headstartcolor, $headendcolor); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop($headstartp,$headstartcolor), color-stop($headendp,$headendcolor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $headstartcolor $headstartp,$headendcolor $headendp); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $headstartcolor $headstartp,$headendcolor $headendp); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $headstartcolor $headstartp,$headendcolor $headendp); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#2c2e2b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, $headstartcolor $headstartp,$headendcolor $headendp); /* W3C */
    width: 969px;
    margin: auto;
    z-index: 1;
    position: relative;

	#topLogo{
		padding:16px;
		float:left;
		position: relative;
	}

	#searchArea{
		position: relative;
		top:0px;
		right:55px;
		height:75px;
		width:303px;
		float:right;
		clear:right;
		z-index: 2;
		color:white;
		overflow: hidden;

		a {
			color:white;
			font-family: Droid Sans, Arial, "Sans Serif";
			text-decoration: none;
			font-size:10pt;
			&:hover {
				text-decoration: underline;
			}
		}
		
		@include searchbox(290px);

		span {
			text-align:left !important;
		}

	}

	#loginArea{
		position: relative;
		top:0px;
		right:35px;
		height:75px;
		width:443px;
		float:right;
		z-index: 0;
		color:white;
		overflow: hidden;
		
		a {
			color:white;
			font-family: Droid Sans, Arial, "Sans Serif";
			text-decoration: none;
			font-size:10pt;
			&:hover {
				text-decoration: underline;
			}
		}

		@include searchbox(430px);
	}

	div.scrollbox {
		margin: 0;
		padding: 0;
		
		span {
			display: none;
		}
	}

	#homeHeader {
		display: block;
		text-align: right;
		padding: 0 10px 10px 0;
		position: relative;
		#header_img{
			display: block;
			width: auto;
			position: relative;
			float: right;
			height: 260px;
			margin: 0;
		}
	}
}

.shadow
{
    text-align: center;
    margin:auto;
}

#sub_nav
{
	background: #3f3e3c; /* Old browsers */
	background: -moz-linear-gradient(top, #3f3e3c 0%, #847d73 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3e3c), color-stop(100%,#847d73)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f3e3c 0%,#847d73 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f3e3c 0%,#847d73 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #3f3e3c 0%,#847d73 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3e3c', endColorstr='#847d73',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #3f3e3c 0%,#847d73 100%); /* W3C */
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px 0 20px;
    margin: 0;
	overflow: hidden;

	ul {
		position: relative; 
		padding: 0;
		list-style:none;
		margin: 0 auto;
		display: block;
		text-align: center;

		li {
			float: left; 
			margin: 0 10px 0 11px;
			box-shadow: 0 3px 2px #444;
			border-radius: 8px;
			position: relative;

			&.active {
				box-shadow: 0 4px 25px #000;
				top: -2px;
				span, div.overlay {
					top: 108px;
				}
			}

			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				width: 100px;
				height: 100px;
				display: block;
				z-index: 2;
			}

			span {
				width: 98px;
				height: 16px;
				position: absolute; 
				z-index: 1;
				top: 104px;
				left: 1px;
				border-radius: 0 0 8px 8px;
			}

			.overlay {
				width: 98px;
				height: 16px;
				position: absolute; 
				z-index: 1;
				top: 104px;
				left: 1px;
				border-radius: 8px 8px 0 0;
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkNzY2YyIgc3RvcC1vcGFjaXR5PSIwLjI5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NDdkNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top, rgba(125,118,108,0.29) 0%, rgba(132,125,117,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,118,108,0.29)), color-stop(100%,rgba(132,125,117,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(125,118,108,0.29) 0%,rgba(132,125,117,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(125,118,108,0.29) 0%,rgba(132,125,117,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(125,118,108,0.29) 0%,rgba(132,125,117,1) 100%); /* IE10+ */
				background: linear-gradient(top, rgba(125,118,108,0.29) 0%,rgba(132,125,117,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7d766c', endColorstr='#847d75',GradientType=0 ); /* IE6-8 */
			}

			&#category_accessories {
				a {
					background: url('../img/icons/Accessories_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Accessories.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_electrical{
				a {
					background: url('../img/icons/Electrical_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Electrical.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_security{
				a {
					background: url('../img/icons/Security_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Security.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_specialized_towing{
				a {
					background: url('../img/icons/Specialized_Towing_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Specialized_Towing.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_trailer_balls{
				a {
					background: url('../img/icons/Trailer_Balls_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Trailer_Balls.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_cargo_management{
				a {
					background: url('../img/icons/Cargo_Management_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Cargo_Management.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_ball_mounts{
				a {
					background: url('../img/icons/Ball_Mounts_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Ball_Mounts.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}

			&#category_hitches{
				a {
					background: url('../img/icons/Hitches_opacity.png') bottom center no-repeat;
				}
				span {
					background: url('../img/icons/Hitches.png') bottom center no-repeat;
					-webkit-transform: scaleY(-1);
					-moz-transform: scaleY(-1);
					-ms-transform: scaleY(-1);
					-o-transform: scaleY(-1);
					transform: scaleY(-1);
					opacity: .5;
				}
			}
		}
	}
}

#internalheader {
	display: block;
	text-align: right;
	padding: 0 10px 10px 0;
}

#hitchlookup {
	position: absolute;
	z-index: 2000;
	width: 260px;
	height: 240px;
	padding: 10px 15px;
	background: #343434;
	behavior:url('/Content/css/PIE.htc');
	font-size: 1.4em;
	color: #fff;
	font-weight: bold;
	display: block;

	span#closeLookup {
		display: none;
		position: absolute;
		top: -14px;
		right: -10px;
		font-size: 14px;
		color: #fff;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}

	p {
		display: block;
		position: relative;
		text-align: left;
		font-size: 1.2em;
		margin: 0;
		padding: 0 0 10px;
		line-height: 1;
	}

	#lookupError {
		margin-bottom: 0;
		float: left;
		color: #847d73;
		font-size: 12px;
		font-weight: bold;
		text-align:left !important;
	}

	span:hover {
		text-decoration: underline;
	}

	.asterisk {
		color: black;
		float: right;
		font-size: 22px;
		font-weight: bold;
		line-height: 0.7em;
		margin-right: 35px;
		display: none;
	}

	form {
		display: block;
		margin: 0;
		padding: 0;

		div {
			display: block;
			margin: 0;
			padding: 4px 0;
			line-height: 1;
			position: relative;
		
			select {
				display: block;
				margin: 0;
				width: 97%;
				border-radius: 3px 3px 3px;
				border: none;
				font-size: 13px;
			}

			img {
				position: absolute;
				right: -10px;
				top: 4px;
			}

			.btnSubmit {
				font-size: .9em;
				position: relative;
				width: 100%;
			}
		}
	}
}

#nav_container {
	display: block;
	clear: both;
	ul {
		display: block;
		margin: 0;
		list-style: none;
		padding: 5px 0;
		
		li {
			float: left;

			a {
				color:white;
				font-size:16px;
				text-decoration: none;
				padding: 6px 0 6px 0;
				float: left;
				border-right: 1px solid #fff;
				
				&:hover {
					background: url('../img/nav_selected.png') repeat-x;
					border-right: 1px solid transparent;
				}
			}

			&.last a {
				border-right: none;
			}
		}
	}
}

#page_content {
	display: block;
	position: relative;
	height: auto;
	width: 969px;
	margin: 0 auto 30px;

	&.content {
		width: 929px;
		padding: 1px 20px 20px;
	}
}

#site_map{
	display: block;
	background-color: #857f73;
	min-height: 100px;

	.map_box{
		float:left;
		color: #343434;
		margin: 15px 0;
		text-align: left;
		width: 16%;
		a, h5 {
			color: #343434;
		}

		h5 {
			margin: 0 0 10px 30px;
			margin-top: 0px;
			text-decoration:underline;
			font-weight: bold;
			color:black;
			font-size: 1.3em;
		}
		
		ul {
			list-style: none;
			margin: 0 0 0 30px;
			padding: 0;

			li {
				margin: 0;
				padding: 0;
				display: block;

				a {
					clear: both;
					font-size: 1.1em;
					text-decoration:none;
					line-height: 1.3;
					position: relative;
					&:hover {
						text-shadow: none;
						text-decoration:underline;
					}

					img {
						vertical-align: middle;
					}
				}
			}

		}
	}
}

#site_map_bottom{
	background: rgb(128,125,118); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwN2Q3NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzczNmU2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDdkNzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(128,125,118,1) 0%, rgba(115,110,104,1) 50%, rgba(128,125,118,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(128,125,118,1)), color-stop(50%,rgba(115,110,104,1)), color-stop(100%,rgba(128,125,118,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(128,125,118,1) 0%,rgba(115,110,104,1) 50%,rgba(128,125,118,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(128,125,118,1) 0%,rgba(115,110,104,1) 50%,rgba(128,125,118,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(128,125,118,1) 0%,rgba(115,110,104,1) 50%,rgba(128,125,118,1) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(128,125,118,1) 0%,rgba(115,110,104,1) 50%,rgba(128,125,118,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807d76', endColorstr='#807d76',GradientType=1 ); /* IE6-8 */
    width: 100%;
    height: 5px;
    margin: auto;
}

#footer {
    display: block;
    background-color: #343434;
    height: 100px;
	padding: 25px;

	
	.footcontent {
		float: right;
		color: #fff;
		position: relative;
		padding: 0;
		margin: 0;

		#footsocial {
			display: block;
			text-align: right;
			margin: 6px 0 0 0;
			a.sociallogo {
				img {
					margin-left: 5px;
					height: 27px;
					width: auto;
				}
			}
		}
		#links{
			display: block;
			margin:auto;
			color:white;
			position:relative;
			padding: 0;

			a {
				color: #ffffff;
				text-decoration: none;
				margin: 0;
				&:hover {
					text-decoration: underline;
				}
			}
			span {
				display: inline-block;
				margin: 0 10px;
			}
			a.sociallogo {
				float: left;
				margin-right: 5px;
				img {
					height: 27px;
					width: auto;
				}
			}
		}
	}
	#footlogo {
		float: left;
		width: 200px;
		#copyright {
			display: block;
			color: #fff;
			position: relative;
			margin: 0;
			padding: 6px 0 0;
		}
		a {
			display: block;
			width: 159px;
			height: 37px;
			img {
				height: 100%;
				width: auto;
			}
		}
	}

}

/* Left Navigation */
#leftnavigation
{
	position: relative;
	z-index: 1;
    float:left;
    width: 20%;

	h2 {
		margin-bottom: 2px;
		padding-left: 10px;
	}

	ul {
		list-style: none;
		margin-top: 0px;
		padding-left: 0px;

		li a {
			padding: 5px 0 5px 10px;
			font-size: 14px;
			font-weight: 400;
			color: #222222;
			text-decoration: none;
			display: block;

			&:hover, &.selected {
				background-color: rgba(0,94,130,0.5);
				color: #000000;
			}

		}

		li.year {
			span {
				margin-left: 20px;
			}

			a {
				padding: 5px 0 5px 10px;
				font-size: 12px;
				font-weight: bold;
				color: #222222;
				text-decoration: none;
				display: block;

				&:hover, &.selected {
					background-color: rgba(0,94,130,0.5);
					color: #000000;
				}
			}

		}
	}
}

#leftnavigation_shadow
{
    background: url('../img/classList_shadow.png') no-repeat;
    float:left;
    height: 196px;
    width: 2%;
}

/* End Left Navigation */

/* FAQ */

article.question {
	display: block;
	font-size: 1.2em;
	padding: 8px 0;

	p {
		font-weight: bold;
		font-size: 1.2em;
		border-bottom: 1px solid #ccc;
		padding: 0 0 2px;
		margin: 0;
	}

	div.answer {
		padding-top: 4px;
	}
}

/* End FAQ */

/* Application Guides */
#applicationGuides {
	display: block;

	h3 {
		color: #f26552;
		font-size: 1.5em;
		font-weight: normal;
		padding-bottom: 16px;
	}

	.app {
		display: block;
		margin-bottom: 10px;
		
		.app_links {
			width: 120px;
			float:left;
		}

		span {
			line-height: 2.5em;
			vertical-align: bottom;
			float:left;
			font-size: 1.6em;
		}
	}
}

/* End Application Guides */

div.starrating {
	display: block;
	height: 15px;
	width: 85px;
	background: url('../img/star.png') bottom left repeat-x;
	margin: auto;
	text-align: left;
	span {
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;
		color: #000;
		text-shadow: #fff 2px 2px 3px;
	}
	span.stars {
		display: block;
		height: 15px;
		background: url('../img/star.png') top left repeat-x;
	}
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    float: left;
    margin: 10px 3px 0 0;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    float: left;
    margin: 7px 8px 0 0;
}

#site_overlay {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: black;
	height: 100%;
	width: 100%;
}

#site_overlay_container {
	display: none;
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

img#loading {
	display: none;
	padding: 5px 0;
	margin: auto;
}

img.actualsizeimg {
	position: absolute;
	display: block;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 0 25px #444;
}

#wheretobuydealers {
	display: block;
	height: 350px;
	width: 400px;
	padding: 20px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 15px #ccc;
	z-index: 3000;
	border-radius: 5px;
	text-align: center;
	span#wheretobuyclose {
		position: absolute;
		right: 8px;
		top: 8px;
		font-size: 2em;
		font-weight: bold;
		color: #ccc;
		padding: 0px 3px;
		border: 1px solid #ccc;
		border-radius: 3px;
		cursor: pointer;
		line-height: 1;
		margin: 0;
		&:hover {
			background-color: #ccc;
			color: #fff;
		}
	}
	h2 {
		margin: 0;
		text-align: left;
		padding: 3px 0;
		border-bottom: 1px solid #ccc;
		font-size: 3.0em;
		font-family: ITCAvantGardeGothicStdBold;
		text-transform: uppercase;
		color: #333;
		letter-spacing: -.1em;
		line-height: 1;
	}
	ul {
		display: block;
		margin: 0;
		padding: 20px 23px 10px;
		list-style: none;
		li {
			float: left;
			padding: 2px 4px;
			text-align: center;
			a {
				font-size: 1.4em;
				color: #000;
				img {
					height: 48px;
					width: auto;
				}
			}
		}
	}
	#dealerloading {
		display: block;
		margin: 10px auto 100px;
	}
	a#seemoredealers {
		font-size: 1.4em;
		color: #000;
		margin-bottom: 40px;
		display: inline-block;
	}
	a#becomedealer {
		position: absolute;
		bottom: 8px;
		right: 8px;
	}
	div#wheretobuyform {
		display: block;
		margin-top: 10px;
		label {
			font-size: 1.2em;
			font-weight: bold;
			input {
				width: 80px;
			}
		}
		input.button {
			padding: 3px 15px 2px;
			margin-left: 5px;
		}
	}
}

.req {
	font-size: 1.6em;
	color: #b51807;
	font-weight: bold;
}

h4#vehicle {
	position: relative;
	z-index: 10;
	font-size: 1.4em;
	background-color: rgba(255,255,255,.5);
	padding: 5px 0 5px 10px;
	margin: 0;
	text-align: left;
	img {
		display: inline-block;
		height: 25px;
		width: 25px;
		padding-right: 10px;
		vertical-align: middle;
		&.clearloading {
			margin-left: 5px;
			height: auto;
			width: auto;
		}
	}
	span {
		font-size: 14px;
		line-height: 25px;
		vertical-align: middle;
		&.yourvehicle {
			font-size: 11px;
			font-weight: normal;
		}
	}
	a {
		color: #222;
		&.clearvehicle {
			font-size: 11px;
			font-weight: normal;
			margin-left: 5px;
		}
	}
}

p.breadcrumbs {
	margin: 0;
	font-size: 1.2em;
    position: relative;
	z-index: 1;
	padding: 10px 0 0 10px;
	a {
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
}

.twitter-tweet, .facebook-like, .gplus1 {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 3px;
}

.twitter-tweet {
	width:60px;
	height:20px;
	overflow: hidden;
}

.facebook-like {
	width: 50px;
	height: 25px;
	overflow: hidden;
	iframe {
		border: none;
		background-color: transparent;
	}
}

.maintenance {
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	background-color: #900;
}