#pageTitle {
  margin: 0px;
  padding: 15px 10px;
  font-size: 1.8em; }

#page_content {
  padding-top: 1.2em; }

#vehicleStr {
  padding: 0px 15px;
  font-size: 1.2em;
  margin: 0; }

#image_box {
  float: left;
  width: 331px;
  margin: 15px; }
  #image_box a.mainImg {
    display: block;
    width: 90%;
    height: 200px;
    margin: auto;
    padding: 5px;
    text-align: center; }
    #image_box a.mainImg img {
      display: block;
      width: auto;
      height: 100%;
      margin: auto; }
  #image_box #smImages {
    margin: auto;
    width: 312px;
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #dddddd; }
    #image_box #smImages a {
      float: left;
      width: 73px;
      height: 48px;
      margin: 0 2px;
      overflow: hidden;
      text-align: center; }
      #image_box #smImages a img {
        display: block;
        width: auto;
        height: 100%;
        margin: auto; }

#hitchInfo {
  float: left;
  width: 560px;
  margin: 1.2em 15px 0 20px;
  font-size: 1.2em; }
  #hitchInfo header {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 20px; }
    #hitchInfo header h2 {
      margin: 0; }
    #hitchInfo header p {
      margin: 2px 0;
      font-size: 10px; }
      #hitchInfo header p span#upc {
        padding-left: 20px; }
      #hitchInfo header p span span {
        font-size: 12px;
        font-weight: bold; }
    #hitchInfo header #averageReview {
      float: left;
      padding: 5px 0;
      display: block;
      text-align: center; }
      #hitchInfo header #averageReview span.avgReview {
        font-weight: bold; }
      #hitchInfo header #averageReview .starrating {
        float: left;
        margin-right: 15px; }
      #hitchInfo header #averageReview #writeReview {
        float: left;
        font-weight: bold;
        color: #000;
        font-size: .9em; }
    #hitchInfo header #social {
      float: right;
      height: 32px;
      overflow: hidden; }
      #hitchInfo header #social img {
        width: 25px;
        height: 18px; }
      #hitchInfo header #social a, #hitchInfo header #social div {
        float: left;
        margin-right: 3px;
        margin-top: 8px !important; }
      #hitchInfo header #social iframe {
        float: left;
        margin-top: 7px;
        margin-right: 3px; }
  #hitchInfo #partinfo {
    display: block;
    margin-right: 15px; }
    #hitchInfo #partinfo #msrp {
      font-size: 1em;
      margin-top: 0; }
      #hitchInfo #partinfo #msrp span {
        font-size: 1.6em;
        font-weight: bold; }
    #hitchInfo #partinfo table {
      float: left;
      display: block;
      border-radius: 8px;
      border: 1px solid #dddddd;
      border-collapse: collapse;
      padding: 5px 10px;
      text-align: left;
      background-color: #f4f4f4;
      margin-bottom: 10px; }
      #hitchInfo #partinfo table thead th {
        border-bottom: 4px solid #dddddd;
        font-size: 1.4em;
        width: 230px; }
      #hitchInfo #partinfo table tbody td {
        height: 25px; }
        #hitchInfo #partinfo table tbody td a img {
          vertical-align: middle; }
        #hitchInfo #partinfo table tbody td.label {
          text-align: right;
          padding: 0 15px;
          font-weight: bold;
          font-size: 1em; }
  #hitchInfo .tip {
    font-size: 20px;
    font-weight: bold;
    line-height: 0.5em;
    color: #e44f31;
    cursor: pointer; }

.tooltip {
  display: none;
  background: transparent url("../img/black_arrow.png");
  font-size: 12px;
  height: 70px;
  width: 160px;
  padding: 25px;
  color: #fff; }

#content {
  margin: 0px 15px;
  padding: 15px 0px 45px; }
  #content ul.tabs {
    margin: 0;
    padding: 7px 20px;
    list-style: none;
    background-color: #f4f4f4;
    border-bottom: 1px solid #dddddd;
    border-radius: 15px 15px 0 0; }
    #content ul.tabs li {
      float: left;
      margin: 0 3px;
      padding: 0;
      position: relative;
      border-bottom: 0; }
      #content ul.tabs li a {
        text-decoration: none;
        text-transform: lowercase;
        color: #000;
        display: block;
        font-size: 1.1em;
        font-weight: bold;
        padding: 6px 20px 5px;
        border-bottom: 4px solid #ddd;
        outline: none; }
        #content ul.tabs li a:hover {
          border-bottom: 4px solid #aaa; }
        #content ul.tabs li a.active {
          border-bottom: 4px solid #444; }
      #content ul.tabs li.active a {
        background-color: #999; }
  #content #tab_container {
    display: block;
    overflow: hidden; }
    #content #tab_container #tab_scroll {
      position: relative; }
      #content #tab_container #tab_scroll .tab_content {
        float: left;
        padding: 10px; }

#vehicles table {
  border-collapse: collapse;
  width: 100%;
  margin: auto; }
  #vehicles table td, #vehicles table th {
    padding: 5px;
    font-size: 1.2em; }
  #vehicles table thead tr {
    border-bottom: 2px solid #ccc; }
  #vehicles table tbody tr {
    border: none;
    background-color: white; }
    #vehicles table tbody tr:hover {
      background-color: #ccc; }
  #vehicles table tbody .btnSubmit {
    border: none;
    background: url("../img/findHitch.png") no-repeat;
    width: 79px;
    height: 25px;
    cursor: pointer; }

.buyOnline {
  background-image: url("../img/buyNow.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 25px; }

#shadowbox_html div {
  background-color: White;
  height: 100%;
  width: 100%; }
#shadowbox_html img {
  height: 50px;
  width: 150px;
  margin: 20px; }

#mailForm input[type=text] {
  width: 225px;
  height: 30px;
  font-size: 12pt;
  color: black;
  border: 1px solid #999;
  border-radius: 5px 5px;
  background-color: white;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 10px; }
#mailForm textarea {
  font-size: 12pt;
  color: black;
  border: 1px solid #999;
  border-radius: 5px 5px;
  background-color: white;
  padding: 0px 10px;
  margin: 0px 10px;
  margin-bottom: 10px; }
#mailForm #btnMail {
  background: url("../img/btnSend.png") no-repeat;
  width: 70px;
  height: 40px;
  border: none;
  margin-left: 10px;
  cursor: pointer; }
#mailForm #btnReset {
  background: url("../img/btnReset.png") no-repeat;
  width: 70px;
  height: 40px;
  border: none;
  margin-left: 10px;
  cursor: pointer; }

div.connector {
  margin: 15px 5%;
  height: 250px;
  width: 90%;
  padding: 0px 10px; }
  div.connector #connector_desc {
    float: left; }
    div.connector #connector_desc a {
      color: #e44f31;
      text-decoration: none; }
      div.connector #connector_desc a img {
        text-decoration: none !important; }
      div.connector #connector_desc a:hover {
        text-decoration: underline; }
  div.connector .imgBorder {
    padding-top: 10px;
    float: left;
    margin-right: 15px;
    cursor: pointer; }
    div.connector .imgBorder img {
      max-height: 205px;
      max-width: 310px; }

.review {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ccc; }
  .review .reviewTitle {
    font-weight: bold;
    margin-right: 10px;
    font-size: 12pt;
    float: left; }
  .review p {
    margin: 0;
    font-size: 1.2em; }

#howto #howto_instruction {
  color: #e44f31;
  margin-left: 15px;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px;
  text-decoration: none; }
  #howto #howto_instruction span {
    text-decoration: underline; }
#howto #howto_icon {
  text-decoration: none;
  width: 30px;
  vertical-align: bottom; }

.req {
  color: red;
  font-weight: bold; }

div#addreview {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #ccc; }
  div#addreview h4 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0; }
  div#addreview ul.formlist {
    list-style: none;
    padding: 0 5px;
    margin: 0;
    display: block; }
    div#addreview ul.formlist li {
      display: block;
      margin: 0;
      padding: 3px 0; }
      div#addreview ul.formlist li input {
        width: 300px; }
        div#addreview ul.formlist li input.submit {
          width: auto; }
      div#addreview ul.formlist li label {
        display: block;
        font-size: 0.9em; }
      div#addreview ul.formlist li textarea {
        width: 400px;
        height: 100px; }
  div#addreview ul.error {
    float: none;
    display: block;
    width: auto;
    color: red;
    font-weight: bold; }

.success {
  display: block;
  color: green;
  font-weight: bold;
  font-size: 16px; }

div#rate {
  display: block;
  height: 15px;
  width: 85px;
  text-align: center; }
  div#rate span.star {
    height: 15px;
    width: 17px;
    float: left;
    background: url("../img/star.png") bottom left repeat-x;
    cursor: pointer; }
  div#rate span.hovered, div#rate span.selected {
    background: url("../img/star.png") top left repeat-x; }
