ul.tabs {
  list-style: none;
  margin: 0;
  padding: 7px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd; }
  ul.tabs li {
    margin: 0 3px;
    padding: 6px 0 0;
    position: relative;
    border-bottom: 0;
    float: left; }
    ul.tabs li a {
      text-decoration: none;
      text-transform: lowercase;
      color: #555;
      display: block;
      font-size: 1.8em;
      font-weight: bold;
      padding: 0 20px 5px;
      border-bottom: 4px solid #ddd;
      outline: none; }
      ul.tabs li a:hover {
        border-bottom: 4px solid #aaa;
        color: #000; }
      ul.tabs li a.active {
        border-bottom: 4px solid #444;
        color: #000; }

#map_canvas {
  display: block;
  height: 0px;
  margin-bottom: 25px; }

#searchmap {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  top: 12px;
  right: 20px; }
  #searchmap label {
    float: right;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: middle;
    text-align: right; }
    #searchmap label span {
      text-align: left; }
    #searchmap label input {
      font-size: 16px; }
  #searchmap button {
    float: right;
    padding: 3px 10px; }

#dealer-clear {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #222;
  z-index: 1; }

p.togglelegend {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0 0 5px 5px;
  padding: 0; }

#toggles {
  display: block;
  padding: 5px 0 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px; }
  #toggles div.toggle {
    margin: 0 5px 0 110px;
    display: inline-block;
    line-height: 12px; }
    #toggles div.toggle:first-child {
      margin-left: 5px; }
    #toggles div.toggle input {
      margin-right: 4px;
      vertical-align: middle;
      padding: 0; }
    #toggles div.toggle img {
      max-height: 25px;
      width: auto;
      margin-right: 5px;
      vertical-align: middle; }
    #toggles div.toggle span {
      vertical-align: middle; }
    #toggles div.toggle div.togglebox {
      width: 40px;
      height: 20px;
      border-radius: 4px;
      display: inline-block;
      background: url("/Content/img/togglebg.jpg") top left no-repeat;
      position: relative;
      z-index: 9;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 5px; }
    #toggles div.toggle div.togglebox span {
      height: 18px;
      width: 18px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid #ddd;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: #eaeaea;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #eaeaea 0%, white 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, white));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #eaeaea 0%, white 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #eaeaea 0%, white 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #eaeaea 0%, white 100%);
      /* IE10+ */
      background: linear-gradient(top, #eaeaea 0%, white 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
      /* IE6-8 */
      -webkit-transition: 0.2s all ease-in-out;
      -moz-transition: 0.2s all ease-in-out;
      -o-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out; }
      #toggles div.toggle div.togglebox span.active {
        left: 20px; }

#tab_container {
  display: block;
  position: relative;
  overflow: hidden; }
  #tab_container #tab_scroll {
    position: relative; }
    #tab_container #tab_scroll #online, #tab_container #tab_scroll #local {
      float: left;
      padding: 0 20px; }
      #tab_container #tab_scroll #online h2, #tab_container #tab_scroll #local h2 {
        font-size: 2.0em; }
      #tab_container #tab_scroll #online .silver .bar, #tab_container #tab_scroll #local .silver .bar {
        background: #e2e2e2;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
        /* IE10+ */
        background: linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
        /* IE6-8 */ }
      #tab_container #tab_scroll #online .gold .bar, #tab_container #tab_scroll #local .gold .bar {
        background: #f3e2c7;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZTJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2MxOWU2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I2OGQ0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWQ0YjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3e2c7), color-stop(50%, #c19e67), color-stop(51%, #b68d4c), color-stop(100%, #e9d4b3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
        /* IE10+ */
        background: linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 );
        /* IE6-8 */ }
      #tab_container #tab_scroll #online .platinum .bar, #tab_container #tab_scroll #local .platinum .bar {
        background: #dbdce2;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I4YmFjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #dbdce2 0%, #f5f6f6 45%, #b8bac6 51%, #dddfe3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdce2), color-stop(45%, #f5f6f6), color-stop(51%, #b8bac6), color-stop(100%, #dddfe3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #dbdce2 0%, #f5f6f6 45%, #b8bac6 51%, #dddfe3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #dbdce2 0%, #f5f6f6 45%, #b8bac6 51%, #dddfe3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #dbdce2 0%, #f5f6f6 45%, #b8bac6 51%, #dddfe3 100%);
        /* IE10+ */
        background: linear-gradient(top, #dbdce2 0%, #f5f6f6 45%, #b8bac6 51%, #dddfe3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdce2', endColorstr='#dddfe3',GradientType=0 );
        /* IE6-8 */ }
      #tab_container #tab_scroll #online .dealers, #tab_container #tab_scroll #local .dealers {
        display: block;
        color: #000;
        margin-bottom: 20px;
        border: 2px solid #ddd;
        border-radius: 10px; }
        #tab_container #tab_scroll #online .dealers .bar, #tab_container #tab_scroll #local .dealers .bar {
          display: block;
          height: 8px; }
        #tab_container #tab_scroll #online .dealers p.morecount, #tab_container #tab_scroll #local .dealers p.morecount {
          color: #000;
          font-weight: bold;
          display: block;
          text-align: right; }
        #tab_container #tab_scroll #online .dealers p.nodealers, #tab_container #tab_scroll #local .dealers p.nodealers {
          padding: 0 10px;
          font-size: 1.2em; }
        #tab_container #tab_scroll #online .dealers h3, #tab_container #tab_scroll #local .dealers h3 {
          display: block;
          font-size: 1.8em;
          color: #222;
          font-weight: bold;
          /*border-bottom: 2px solid #DDD;*/
          line-height: 1;
          padding: 4px 8px;
          margin: 0; }
          #tab_container #tab_scroll #online .dealers h3 span img, #tab_container #tab_scroll #local .dealers h3 span img {
            vertical-align: bottom;
            margin-right: 4px; }
          #tab_container #tab_scroll #online .dealers h3 span.mapicon, #tab_container #tab_scroll #local .dealers h3 span.mapicon {
            width: 20px;
            display: inline-block; }
            #tab_container #tab_scroll #online .dealers h3 span.mapicon img, #tab_container #tab_scroll #local .dealers h3 span.mapicon img {
              max-height: 25px; }
        #tab_container #tab_scroll #online .dealers div.dealer, #tab_container #tab_scroll #local .dealers div.dealer {
          float: left;
          width: 33%;
          font-size: 1.2em; }
          #tab_container #tab_scroll #online .dealers div.dealer a, #tab_container #tab_scroll #local .dealers div.dealer a {
            display: block;
            text-decoration: none;
            padding: 8px 10px; }
            #tab_container #tab_scroll #online .dealers div.dealer a span, #tab_container #tab_scroll #local .dealers div.dealer a span {
              color: #000;
              display: block;
              font-weight: bold; }
            #tab_container #tab_scroll #online .dealers div.dealer a:hover, #tab_container #tab_scroll #local .dealers div.dealer a:hover {
              background-color: #e54e31; }
            #tab_container #tab_scroll #online .dealers div.dealer a:visited, #tab_container #tab_scroll #local .dealers div.dealer a:visited {
              color: blue; }
            #tab_container #tab_scroll #online .dealers div.dealer a.getDirections, #tab_container #tab_scroll #local .dealers div.dealer a.getDirections {
              padding: 0; }
              #tab_container #tab_scroll #online .dealers div.dealer a.getDirections:hover, #tab_container #tab_scroll #local .dealers div.dealer a.getDirections:hover {
                background-color: transparent;
                text-decoration: underline; }
          #tab_container #tab_scroll #online .dealers div.dealer p, #tab_container #tab_scroll #local .dealers div.dealer p {
            padding: 8px 10px;
            margin: 0;
            cursor: pointer; }
            #tab_container #tab_scroll #online .dealers div.dealer p:hover, #tab_container #tab_scroll #local .dealers div.dealer p:hover {
              background-color: #ccc; }
        #tab_container #tab_scroll #online .dealers div.active p, #tab_container #tab_scroll #local .dealers div.active p {
          background-color: #ccc; }
      #tab_container #tab_scroll #online .typebox_1 a span, #tab_container #tab_scroll #local .typebox_1 a span {
        font-size: 1.3em; }
    #tab_container #tab_scroll #local .dealers .dealer {
      height: 100px; }

#directions {
  display: block;
  padding: 20px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
  z-index: 3000;
  border-radius: 5px;
  text-align: left; }
  #directions span#directionsclose {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
    padding: 0px 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    margin: 0; }
    #directions span#directionsclose:hover {
      background-color: #ccc;
      color: #fff; }
  #directions h2 {
    margin: 0 0 15px;
    text-align: left;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    font-size: 3.0em;
    font-family: ITCAvantGardeGothicStdBold;
    text-transform: uppercase;
    color: #333;
    letter-spacing: -0.1em;
    line-height: 1; }
  #directions #directionsContent {
    display: block;
    overflow-y: scroll;
    height: 90%;
    overflow-y: auto; }
    #directions #directionsContent #changeDirections {
      text-align: center;
      margin-bottom: 5px; }
    #directions #directionsContent div#directions_mapcont {
      width: 50%;
      min-height: 100px;
      float: left; }
      #directions #directionsContent div#directions_mapcont p.loading {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-align: center; }
        #directions #directionsContent div#directions_mapcont p.loading img {
          display: block;
          margin: auto; }
      #directions #directionsContent div#directions_mapcont div#directions_map {
        display: block;
        width: 90%; }
    #directions #directionsContent div#directionsformcont {
      float: left;
      width: 200px;
      margin-bottom: 10px; }
      #directions #directionsContent div#directionsformcont p {
        font-size: 1.4em;
        font-weight: bold;
        margin: 0; }
      #directions #directionsContent div#directionsformcont label {
        display: block;
        font-size: 1.2em;
        font-weight: bold; }
        #directions #directionsContent div#directionsformcont label span {
          display: block;
          font-size: 10px;
          margin-top: 4px; }
        #directions #directionsContent div#directionsformcont label input {
          display: block;
          width: 100%; }
      #directions #directionsContent div#directionsformcont input.button {
        padding: 3px 15px 2px;
        margin-top: 5px; }
    #directions #directionsContent div#directionsPanel {
      float: left;
      width: 50%; }
