#page_content p {
  font-size: 1.2em; }

#contact_info {
  display: block; }
  #contact_info p {
    font-size: 12px; }
  #contact_info #left_content {
    float: left;
    width: 53%; }
  #contact_info form#contact_form {
    float: left;
    width: 47%; }
    #contact_info form#contact_form .error {
      color: Red;
      font-weight: bold; }
    #contact_info form#contact_form ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #contact_info form#contact_form ul li {
        display: block;
        margin: 0;
        padding: 3px 0; }
        #contact_info form#contact_form ul li .error {
          background-color: #ffedb7; }
        #contact_info form#contact_form ul li label {
          display: block;
          font-size: 1.1em; }
        #contact_info form#contact_form ul li input {
          display: block; }
        #contact_info form#contact_form ul li input[type='text'], #contact_info form#contact_form ul li input[type='tel'], #contact_info form#contact_form ul li input[type='email'] {
          width: 300px; }
        #contact_info form#contact_form ul li textarea {
          font-family: Arial, Helvetica, sans-serif; }
        #contact_info form#contact_form ul li#buttons input {
          margin: 3px 72px 0 0; }

#contact_box {
  border: 2px solid #ccc;
  display: block;
  padding: 10px 20px; }
  #contact_box strong {
    font-weight: bold;
    float: left;
    width: 100px;
    clear: left;
    font-size: 1.2em;
    padding: 3px 0; }
  #contact_box p {
    font-size: 1.2em;
    margin: 0;
    float: left;
    clear: none;
    width: 600px;
    padding: 3px 0; }
